$green: #30bb6a;
$white: #ffffff;
$paleWhite: #eeeeee;


* {
    font-family: "Roboto";
}

#map {
    width: 100vw;
    height: 100vh;
    /*margin-top: 50px;*/
}

#locationQueryBtn {
    display: none;
}

#locationSearch {
    transition: top 0.5s ease-in-out;

    &.coolHide {
        top: -50px;
    }

    .balaca {
        background-color: $green;
        width: 48px;
    }
}

#addPlace {
    transition: bottom 0.5s ease-in-out;
    opacity: 0.9;

    &.coolHide {
        bottom: -50px;
    }
    &:hover,
    &:active,
    &:focus {
        opacity: 1;
    }
}

#locationSearch {
    top: 10px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 48px;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
    max-width: 600px;

    display: table;
    width: 90%;
}

#locationSearch input {
    width: 100%;
    font-size: 14px;
    padding: 0 0 0 15px;
    font-weight: lighter;
}

#filterBtn img {
    width: 20px;
    height: 20px;
}

#locationSearch span {
    display: table-cell;
    width: 48px;
}

#locationSearch input,
#filterBtn {
    height: 48px;
    display: table-cell;
    border: none;
    /* vertical-align: top; */
}

#filterBtn {
    width: 48px;
    background-color: $paleWhite;
    border: 5px solid white;
}

.navbar {
    background-color: $green;
    border: none;
}

.navbar-header {
    text-align: center;
    padding-top: 14px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.bigRoundedButton {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 1;
    background: $green;
    border: none;
    color: white;
    border-radius: 25px;
    transform: translateX(-50%);
    width: 70%;
    height: 50px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.06);

    max-width: 300px;

    transition: all 0.5s ease;
}

.bigRoundedButton:hover,
.bigRoundedButton:active,
.bigRoundedButton:focus {
    color: white;
    background-color: #2cd978;
}

#addPlace.active {
    font-size: 0;
    width: 50px;
    background-color: rgb(20,20,20);

    transition: background-color 0.5s ease, font-size 0s ease;
}

#addPlace.active:after {
    content: '✕';
    color: $green;
    font-size: 24px;
}

#newPlaceholder {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: 1;
    opacity: 0;
    background: transparent;
    border: none;
    pointer-events: none;

    transition: top 0.5s ease;

    img {
        width: 100px;
        height: auto;
    }
}


@keyframes bounceAndGlow {
  from { opacity: 0.7; transform: translate(-50%,-100%);}

  to { opacity: 1; transform: translate(-50%,-110%);}

}


@keyframes pulse {
  from { opacity: 0.7;}

  to { opacity: 1;}

}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#newPlaceholderShadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 10px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(20,20,20);
    opacity: 0.5;
    display: none;

    /*animation: pulse 0.5s infinite alternate;*/
}

#newPlaceholder.active {
    pointer-events: initial;
    top: 50%;
    opacity: 1;

    animation: bounceAndGlow 0.5s infinite alternate;
}

#newPlaceholder.active:hover {
    animation: none;
}


#spinnerOverlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1031;
    display: none;
}

#spinnerOverlay > img,
#spinnerOverlay .spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#spinnerOverlay .spinnerContainer img {
    animation: spin 3s linear infinite;
}

#spinnerOverlay #wheel1,
#spinnerOverlay #wheel2 {
    top: calc(50% + 2px);
    // opacity: 0.8;
}

#spinnerOverlay #wheel1 {
    left: calc(50% - 60px);
}

#spinnerOverlay #wheel2 {
    left: calc(50% + 60px);
}

.modal-dialog {
    margin-top: 60px;

    &:before {
        content: '✕';
        color: white;
        position: absolute;
        top: -58px;
        right: 0;
        font-size: 40px;
        font-weight: lighter;
        font-family: "Arial";
        cursor: pointer;
        pointer-events: none;
    }

    & img {
        width: 100%;
    }

    @media screen and (max-width: 414px) {
      & {
        margin: 60px 0 0;
      }
    }
}


.modal-header {
    padding: 0px;
    position: relative;
    background-image: url(/img/bg_header.png);
    height: 170px;
    overflow: hidden;
}

.modal-body img {
    width: 18px;
    /*margin-right: 10px;*/
    height: auto;
}

.modal-body label {
    font-weight: initial;
}

.modal-body h2 {
    font-weight: lighter;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

.modal-body p {
    font-size: 16px;
    color: #828b90;
}

.title{
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.review{
    text-align: center;
}

.modal-body {
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .typeIconsGroup {
        // white-space: nowrap;
        // overflow-x: auto;
        // overflow-y: hidden;
        width: 100%;
        padding: 10px 0;
        max-width: 500px;
        margin: 0 auto;
    }

    .typeIcon {
        width: 23%;
        height: auto;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        border-radius: 50%;
        padding: 3%;

        transition: background-color 0.2s ease-out;

        &.active {
            background-color: hsla(120,90%,88%,1);
        }

        &:hover:not(.active) {
            background-color: hsla(120,90%,95%,1);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}


.review img {
    width: 22px;
    height: auto;
}

.average {
    font-size: 35px;
    vertical-align: middle;
}

.ghost {
    border: 1px solid #828b90;
    background-color: #fff;
    color: #828b90;
    margin-left: 10px;
    font-size: 14px;
    width: 30%;
    border-radius: 5px;
    vertical-align: middle;
    min-width: 80px;
    transition: all 0.2s ease;
}
.ghost:hover,
.ghost:focus,
.ghost:active {
    color: white;
    border: 1px solid white;
    background-color: $green;
}

.modal-footer {
    text-align: left;
    border: none;
}

.modal-footer img {
    width: 25px;
    height: 28px;
}

.info {
    padding: 10px 5%;
    text-align: center;

    img {
        margin: 0 5px;
        display: inline-block;
        width: 40%;
        max-width: 100px;
        height: auto;
    }

    div {
        margin-top: 5px;
    }
}


#placeDetails_isPublic img {
    opacity: 0.6;
}

#ratingDisplay {
    cursor: pointer;
}

.modal-footer {
    padding: 0;
}

.btn {
    background: transparent;
    color: white;
}

.btn.green:hover:not([disabled]),
.btn.green:focus:not([disabled]),
.btn.green.focus:not([disabled]) {
    color: white; 
    background-color: #2cd978;
}

.btn-tag {
    background: $paleWhite;
    color: #939a9d;
    border-radius: 10px;
    margin: 5px 2px;
}

.btn-tag.active {
    background: #2cd978;
    color: white;
}

.tagDisplay {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;

    background: $paleWhite;
    border-radius: 5px;
    margin: 5px 2px;
    color: #333;
}

.col-half {
    width: 50%;
    border: none;
    float: left;
}

.modal-footer .col-half + .col-half {
    border-left: 1px solid #82d6a5;
}

.btn-footer {
    width: 100%;
    color: rgb(250,250,250);
    padding: 20px;
    transition: all 0.2s ease;
    border-radius: 0;
    background-color: $green;

    transition: background-color 0.5s ease;

    &:disabled {
        background-color: #989a9d;
    }

    &.focus:disabled,
    &:focus:disabled,
    &:hover:disabled {
        // Override stupid bootstrap rule 
        color: rgb(250,250,250);
    }
}

.text-input-wrapper {
    position: relative;

    & > .little-pin {
        position: absolute;
        top: 15px;
        left: 12px;
        width: 18px;
        height: 18px;
        background-image: url(/img/pin_green.svg);
        background-size: 70%;
        background-repeat: no-repeat;

        &.gray {
            background-image: url(/img/pin_gray.svg);
        }
    }
}

.text-input {
    padding: 10px;
    width: 100%;
}

#titleInput {
    padding-left: 30px;
}

.tagsContainer {
    text-align: center;
}

.small {
    font-size: 0.8em !important;
    color: #828b90;
}

.light {
    font-weight: lighter;
}

.balaca {
    img {
        width: 100%;
        padding: 2px;
    }
}

/*#locationSearch, .bigRoundedButton {
    opacity: 0.9;
    transition: opacity 0.5s ease;
}
#locationSearch:hover, .bigRoundedButton:hover,
#locationSearch:active, .bigRoundedButton:active {
    opacity: 1;
}
*/

#photoInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    
    & + label {
        position: absolute;
        top: 50%;
        left: 50%;
        background: url(/img/icon_photo.svg);
        background-size: 100%;
        width: 67px;
        height: 67px;
        transform: translate(-50%,-50%);
        cursor: pointer;
        opacity: 0.9;
        transition: opacity 0.2s ease-out;
    }

    & + label:hover,
    & + label:focus {
        opacity: 1;
    }
}

/****** Style Star Rating Widget *****/
/* https://codepen.io/jamesbarnett/pen/vlpkh */
.rating {
    display: inline-block;
    vertical-align: middle;
}
.rating > input {
    display: none;
}
.rating > label:before {
    margin: 0 2px;
    /* font-size: 1.25em; */
    /* font-size: 30px; */
    /* font-family: FontAwesome; */
    display: inline-block;
    content: '';
    background-image: url(/img/icon_star_gray.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.rating > .half:before {
    content: "\f089";
    position: absolute;
}
.rating > label {
    /*color: #ddd; */
    float: right;
    cursor: pointer;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label:before, /* show gold star when clicked */
.rating:not(:checked):not(.disabled) > label:hover:before, /* hover current star */
.rating:not(:checked):not(.disabled) > label:hover ~ label:before { /* hover previous stars in list */
    /*color: #eabb2f;*/
    background-image: url(/img/icon_star.svg);
}

.rating > input:checked + label:hover:before, /* hover current star when changing rating */
.rating > input:checked ~ label:hover:before,
.rating > label:hover ~ input:checked ~ label:before, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label:before {
    /*color: #f1d274;*/
}

#reviewPanel .rating > label:before {
    margin: 5px 8px;
    width: 35px;
    height: 35px
}

/* Custom Radio Buttons */
.radio-group label {
    cursor: pointer;
    color: #999999;
    margin-bottom: 0;
    transition: color 0.2s ease;
}
.radio-group label:hover,
.radio-group label:focus {
    color: rgb(30,30,30);
}


.radio-group label + label {
    margin-left: 10px;
}
.radio-group label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.radio-group label > input + .radio-image{ /* IMAGE STYLES */
    background-image: url(/img/radio.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;

    transition: background-image 0.2s ease-in-out;
}
.radio-group label > input:checked + .radio-image{ /* (RADIO CHECKED) IMAGE STYLES */
    background-image: url(/img/radio_checked.svg);
}


// Thanks to https://davidwalsh.name/css-flip
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flipper.flipped {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
    transition: 0.8s ease-out;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    position: relative;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
