<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bike De Boa</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- ¯\_(ツ)_/¯ -->
        <script src="jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!-- Libs -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6TeLzQCvWopEQ7hBdbktYsmYI9aNjFc8&libraries=places"type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="markers.js"></script>
        <script src="gmapsCustomStyle.js"></script>
        <script src="app.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <!-- <img src="img/bici@2x.png" style="width: 25px; vertical-align: text-top;"/> -->
              bike de boa
            </div>
          </div>
        </nav>

        <div id="spinnerOverlay">
            <img src="img/spinner_bike.png"></img>
            <div id="wheel1" class="spinnerContainer">
                <img src="img/spinner_wheel.png"></img>
            </div>
            <div id="wheel2" class="spinnerContainer">
                <img src="img/spinner_wheel.png"></img>
            </div>
        </div>

        <div id="locationSearch">
            <form>
                <input id="locationQueryInput" type="text" placeholder="Onde tu procura um bicicletário?">
                <span>
                    <button id="locationQueryBtn" type="button">
                        <img src="img/icon-filter@2x.png" class="icon"></i>
                    </button>
                </span>
            </form>
        </div>

        <!-- View Details Modal -->
        <div class="modal fade" id="placeDetailsModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <img id="placeDetails_photo" src="img/bg_header.png">
              </div>
              <div class="modal-body">
                <img id="placeDetails_titleIcon" src="img/icon-pin-green@3x.png">
                <span id="placeDetails_title" class="title"></span>

                <p id="placeDetails_address">
                </p>

                <hr>

                 <div class="review">
                    <span id="placeDetails_average" class="average"></span>
                    <fieldset disabled class="rating">
                        <input type="radio" id="placeDetails_star5" name="placeDetails_rating" value="5" />
                        <label class="full-star" for="placeDetails_star5" title="Excelente!"></label>

                        <input type="radio" id="placeDetails_star4" name="placeDetails_rating" value="4" />
                        <label class="full-star" for="placeDetails_star4" title="Bacana"></label>

                        <input type="radio" id="placeDetails_star3" name="placeDetails_rating" value="3" />
                        <label class="full-star" for="placeDetails_star3" title="Hum..."></label>

                        <input type="radio" id="placeDetails_star2" name="placeDetails_rating" value="2" />
                        <label class="full-star" for="placeDetails_star2" title="Ruinzinho"></label>

                        <input type="radio" id="placeDetails_star1" name="placeDetails_rating" value="1" />
                        <label class="full-star" for="placeDetails_star1" title="Muito ruim"></label>
                    </fieldset>
                    <button id="reviewBtn" class="ghost">AVALIAR</button>
                    <p class="small" id="placeDetails_reviews"> </p>
                 </div>

                 <hr>

                 <div class="info">
                    <p>
                        <!-- <img src="img/icon_star@3x.png"> --><span id="placeDetails_isPublic"></span>
                        <br>
                        <!-- <img src="img/icon_star@3x.png"> --><span id="placeDetails_structureType"></span>
                        <br>
                        <!-- <img src="img/icon_star@3x.png"> --><span id="placeDetails_checkins"></span>
                    </p>
                 </div>
              </div>
              <div class="modal-footer">
                <button id="checkinBtn" class="btn border btn-footer half">CHECK-IN</button>
                <span class="divider"></span>
                <button class="btn btn-footer half">TRAÇAR ROTA</button>
              </div>
            </div>
          </div>
        </div>

        <!-- New Place Modal -->
        <div class="modal fade" id="newPlaceModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <img id="photoInputBg"/>

                        <input type="file" name="photoInput" id="photoInput" />
                        <label for="photoInput"/>
                    </div>

                    <div class="modal-body text-center">
                        <div class="text-input-wrapper">
                          <input id="titleInput" type="text" class="text-input" placeholder="Qual é o nome do local?">
                        </div>

                        <h2>Tipo de bicicletário</h2>

                        <div class="typeIconsGroup">
                          <div class="typeIcon active"> <img id="1" src="img/tipo_deroda.png"></img> </div>
                          <div class="typeIcon"> <img id="2" src="img/tipo_uinvertido.png"></img> </div>
                          <div class="typeIcon"> <img id="3" src="img/tipo_trave.png"></img> </div>
                          <div class="typeIcon"> <img  id="4" src="img/tipo_parede.png"></img> </div>
                          <div class="typeIcon"> <img  id="5" src="img/tipo_grade.png"></img> </div>
                        </div>

                        <hr>

                        <div class="radio-group">
                          <label>
                            <input type="radio" name="isPublicRadioGrp"  />
                            <span class="radio-image"></span>
                            Público
                          </label>

                          <label>
                            <input type="radio" name="isPublicRadioGrp"  />
                            <span class="radio-image"></span>
                            Acesso restrito
                          </label>
                        </div>

                        <hr>

                        <h2>Características</h2>

                        <div class="box-tags">
                            <button class="btn btn-sm btn-tag" data-toggle="button">Iluminado</button>
                            <button class="btn btn-sm btn-tag" data-toggle="button">Movimentado</button>
                            <button class="btn btn-sm btn-tag" data-toggle="button">Monitorado</button>
                            <button class="btn btn-sm btn-tag" data-toggle="button">Fácil acesso</button>
                            <button class="btn btn-sm btn-tag" data-toggle="button">Espaçoso</button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="saveNewPlaceBtn" class="btn border btn-footer">SALVAR</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Review Modal -->
        <div class="modal fade" id="reviewModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <img id="review_photo" src="img/bg_header.png">
              </div>
              <div class="modal-body">
                <img id="review_titleIcon" src="img/icon-pin-green@3x.png">
                <span id="review_title" class="title"></span>

                <br>
                <br>

                <hr>

                 <div class="review">
                    <span id="review_average" class="average"></span>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" />
                        <label class="full-star" for="star5" title="Excelente!"></label>

                        <input type="radio" id="star4" name="rating" value="4" />
                        <label class="full-star" for="star4" title="Bacana"></label>

                        <input type="radio" id="star3" name="rating" value="3" />
                        <label class="full-star" for="star3" title="Hum..."></label>

                        <input type="radio" id="star2" name="rating" value="2" />
                        <label class="full-star" for="star2" title="Ruinzinho"></label>

                        <input type="radio" id="star1" name="rating" value="1" />
                        <label class="full-star" for="star1" title="Muito ruim"></label>
                    </fieldset>
                 </div>

              </div>
              <div class="modal-footer">
                <button id="sendReviewBtn" class="btn border btn-footer">DEIXAR AVALIAÇÃO</button>
            </div>
            </div>
          </div>
        </div>

        <button id="addPlace" class="bigRoundedButton">ADICIONAR BICICLETÁRIO</button>

        <span id="newPlaceholderShadow"></span>
        <button id="newPlaceholder"> <img src="img/pin-mapa-movimento.png"></img> </button>

        <div id="map"/>
    </body>

</html>
