<!-- About -->
<div id="aboutModal" class="modal fullscreen-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Sobre o Projecto</h1>

                        {{!-- <div class="guide--updated-at">
                            Atualizado em 05/03/19
                        </div>  --}}

                        <div>
                            <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </div>

                        <p class="subtitle">
                            Não seria bom poder andar de bicicleta na cidade para onde se quisesse? Um dos maiores obstáculos é a falta de lugares adequados para estacionar a bicicleta em segurança.
                        </p>

                        <p>
                            Os bicicletários, como são chamados os estacionamentos para bicicletas, são criados para oferecer conforto e segurança aos ciclistas e funcionam também como promoção  da utilização da bicicleta no dia-a-dia. Existem estudos que comprovam  os seus benefícios para a economia local, aumentando o número de clientes e as vendas do comércio e serviços locais.

                        </p>
                        <p>
                            Queremos mais bicicletários nas cidades portuguesas, mas também queremos que eles sejam seguros e práticos. O Cidade Ciclável é um mapeamento de bicicletários que visa (1) dar visibilidade aos que existem, avaliar a sua qualidade e (2) assinalar os locais onde é necessário existirem mais. Acreditamos que isso contribui em grande medida para que as pessoas se sintam mais seguras e usem mais a bicicleta nas nossas cidades. Este projecto nasceu no Brasil, originalmente <a href="http://www.bikedeboa.com.br" class="external-link" target="_blank" rel="noopener">Bike de Boa</a>, e está agora em Portugal com a colaboração da <a href="https://mubi.pt/" class="external-link" target="_blank" rel="noopener">MUBi</a> (Associação pela Mobilidade Urbana em Bicicleta).
                        </p>

                        <div class="big-numbers">
                            <div class="big-numbers--col">
                                <div id="about-stats--cities" class="big-numbers--number">50+</div>
                                <div class="big-numbers--label">cidades</div>
                            </div>
                            <div class="big-numbers--col">
                                <div id="about-stats--places" class="big-numbers--number" data-countupto="610">2600+</div>
                                <div class="big-numbers--label">bicicletários</div>
                            </div>
                            <div class="big-numbers--col">
                                <div id="about-stats--reviews" class="big-numbers--number" data-countupto="677">800+</div>
                                <div class="big-numbers--label">avaliações</div>
                            </div>
                            <div class="big-numbers--col">
                                <div id="about-stats--views" class="big-numbers--number" data-countupto="25795">30.000+</div>
                                <div class="big-numbers--label">visualizações</div>
                            </div>
                        </div>
                        <p>
                            O Cidade Ciclável é um mapa colaborativo, disponível no computador e em dispositivos móveis, e concebido para ser muito fácil de usar. Além disso, o nosso <a class="external-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa">código fonte</a>  e a <a class="external-link" target="_blank" rel="noopener" href="/dados">banco de dados</a> são abertos, o que significa que qualquer pessoa pode aceder, contribuir ou reutilizar.
                        </p>              
                                                
                        <h2>Quem somos</h2> 

                        <p>
                        Este projecto começou no Brasil, com um grupo independente de Designers, Programadores e Urbanistas em busca de novas maneiras de incentivar o uso da bicicleta nas suas cidades. A versão para Portugal resulta de uma colaboração entre este grupo fantástico e a MUBi (Associação para a Mobilidade Urbana em Bicicleta – www.mubi.pt). A nossa visão é de cidades para todos, não apenas para ir e voltar, mas para se estar e parar.
                        
                        Gostaste deste projecto? Tens alguma sugestão, alguma ideia? Partilha e entra em <a class="external-link contact-btn">contacto connosco!</a>
                        </p>
                        

                        <h2>Onde já aparecemos</h2> 
                        
                        <div class="media-grid">
                        <a class="media-link" target="_blank" rel="noopener" href="https://soundcloud.com/unisinosfm/atomica-app-bike-de-boa /">
                            <img alt="" src="" data-src="/img/media_unisinosfm.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="/io">
                            <img alt="" src="" data-src="/img/media_googleioextended.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://medium.com/bike-de-boa/o-que-aprendemos-no-maior-evento-de-bicicleta-do-brasil-2ba6d05d5c4c">
                            <img alt="" src="" data-src="/img/media_bicicultura.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://gauchazh.clicrbs.com.br/colunistas/paulo-germano/noticia/2017/12/site-mapeia-mais-de-500-bicicletarios-em-porto-alegre-cjatwywfo07lp01mkbixhow79.html">
                            <img alt="" src="" data-src="/img/media_clickrbs.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://braziljs.org/blog/braziljs-weekly-229-pwas-squads-e-vulnerabilidade-no-electron/">
                            <img alt="" src="" data-src="/img/media_braziljsweekly.png" /> 
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="http://bicicultura.rio/">
                            <img alt="" src="" data-src="/img/media_bicicultura2018.png" /> 
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://www.velo-city2018.rio/">
                            <img alt="" src="" data-src="/img/media_velocity.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="http://www.mobilize.org.br/noticias/11051/quer-saber-como-estacionar-sua-bike-de-boa.html">
                            <img alt="" src="" data-src="/img/media_mobilize.png" />
                        </a>
                        
                        <a class="media-link" target="_blank" rel="noopener" href="https://www.publico.pt/2019/06/06/p3/noticia/onde-estao-ou-deviam-estar-os-bicicletarios-portugueses-a-cidade-ciclavel-dizte-1875478">
                            <svg class="page__title__img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100" height="70" viewBox="0 0 100 70"><g fill="#d10019"><path d="M0 70h37.669v-3.313l-3.515-.903c-4.018-1.004-4.621-1.306-4.621-7.831V6.148c.703-.302 3.013-.804 4.721-.804 6.729 0 8.84 3.013 8.84 16.667 0 12.649-2.512 15.46-10.749 15.963v3.513c1.205.401 4.119 1.405 8.337 1.405 16.875 0 25.012-10.642 25.012-21.484C65.694 6.449 55.349.425 35.76.425H0v3.313l2.812.702c3.416.804 4.42 1.205 4.42 8.032v45.479c0 6.827-1.004 7.228-4.42 8.032L0 66.687V70zM81.942 44.709c9.843 0 18.058-4.308 18.058-12.983v-1.281c0-5.239-3.03-8.208-7.397-9.313v-.176c3.785-1.455 6.465-3.727 6.465-8.907v-.931C99.068 3.259 91.378 0 83.167 0c-6.292 0-10.951 1.106-15.612 4.075l4.835 8.5c2.62-1.455 5.765-2.388 8.736-2.388 3.204 0 4.952 1.048 4.952 3.319v.64c0 2.621-1.631 3.551-4.543 3.551h-4.718v8.675h5.359c2.854 0 4.426.873 4.426 3.375v.933c0 2.852-2.679 3.9-6.407 3.9-3.03 0-6.35-.989-9.145-2.562l-4.718 9.024c3.961 2.387 8.388 3.667 15.61 3.667"></path></g></svg>

                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="http://smart-cities.pt/mobilidade/cidade-ciclavel081/">
                            <img alt="" src="" data-src="/img/media_smartcities.png" />
                        </a>
                         <a class="media-link" target="_blank" rel="noopener" href="https://jpn.up.pt/2019/06/06/ja-ha-uma-plataforma-que-assinala-todos-os-bicicletarios-existentes-em-portugal/">
                            <img alt="" src="" data-src="/img/media_jpn.png" />
                        </a>
                         <a class="media-link" target="_blank" rel="noopener" href="https://www.diariodaregiao.pt/2019/06/12/setubal-de-bicicleta-incentiva-alunos-a-ir-para-a-escola-a-pedalar/">
                            <img alt="" src="" data-src="/img/media_setubal.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://www.wattson.pt/2019/06/05/onde-posso-estacionar-a-bicicleta-uma-ferramenta-online-ja-da-essa-informacao/">
                            <img alt="" src="" data-src="/img/media_whatson.png" />
                        </a>
                        
                        </div> 
                        

                        <h2>Como apoiar</h2>
                        
                       

                        <p>
                         O projecto não tem fins lucrativos e é fruto de trabalho voluntário dedicado a compreender melhor as necessidades dos utilizadores da bicicleta nas cidades e a divulgar o projecto. Há, no entanto, despesas inevitáveis no alojamento do site, e de armazenamento de dados.

                        </p> 

                        <p>
                        Queres ajudar-nos? Podes fazer um donativo, em qualquer valor. 1 euro por mês já será uma ajuda inestimável.
                        </p>
                        
                        <div style="margin: 3em 0; text-align: center;">
                        <a target="_blank" rel="noopener" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=geral%40mubi.pt&item_name=Cidade+Ciclavel&currency_code=EUR&source=url" class="ghost" style="border-radius: 25px; padding: 12px 36px; font-size: 22px; box-shadow: none; cursor: pointer;">
                            Apoie o projecto ›
                        </a> 
                        </div>

                        <div class='medium-separator'>...</div>


                        <div id="about-social-buttons">
                        <a class="social-link facebook-social-link" target="_blank" rel="noopener" href="https://www.facebook.com/bikedeboaapp">
                            <img alt="" src="" data-src="/img/icon_social_facebook.svg"/> Facebook
                        </a>
                        <a class="social-link instagram-social-link" target="_blank" rel="noopener" href="https://www.instagram.com/bikedeboa/">
                            <img alt="" src="" data-src="/img/icon_social_instagram.svg"/> Instagram
                        </a>
                        <a class="social-link medium-social-link" target="_blank" rel="noopener" href="https://medium.com/bike-de-boa/">
                            <img alt="" src="" data-src="/img/icon_social_medium.svg"/> Medium
                        </a>
                        <a class="social-link github-social-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa">
                            <img alt="" src="" data-src="/img/icon_social_github.svg"/> Github
                        </a> 
                        </div>

                        <hr>

                        <div style="text-align: center;">
                        <!-- Facebook like and share buttons -->
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbikedeboaapp%2F&width=280&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1814653185457307" width="280" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>