<!-- About -->
<div id="aboutModal" class="modal fullscreen-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Sobre o Projeto</h1>

                        {{!-- <div class="guide--updated-at">
                            Atualizado em 19/06/18
                        </div>  --}}

                        <div>
                            <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </div>

                        <p class="subtitle">
                            Não seria bom poder andar de bicicleta na cidade para onde se quisesse? Um dos maiores obstáculos é a falta de lugares adequados para estacionar a bicicleta em segurança. 
                        </p>

                        <p>
                            Os bicicletários, como são chamados os estacionamentos para bicicletas, são criados para oferecer conforto e segurança aos ciclistas e funcionam como um marketing subliminar para o uso da bicicleta no dia-a-dia. Existem estudos que comprovam  os seus benefícios para a economia local, aumentando o número de clientes e as vendas do comércio e serviços locais.

                        </p>

                        <p>
                            Queremos mais bicicletários nas cidades portuguesas, mas também queremos que eles sejam seguros e práticos. O “Bike de Boa” é um mapeamento de bicicletários que visa (1) dar visibilidade aos que existem, avaliar a sua qualidade e (2) assinalar os locais onde é necessário existirem mais. Acreditamos que isso contribui em grande medida para que as pessoas se sintam mais seguras e usem mais a bicicleta nas nossas cidades. Este projecto nasceu no Brasil, originalmente Bike de Boa, e está agora em Portugal com a colaboração da MUBi (Associação pela Mobilidade Urbana em Bicicleta) e com o apoio da Câmara Municipal de Lisboa.

                        </p> 
                        <p>
                            O “Bike de Boa” é um mapa colaborativo, disponível no computador e em dispositivos móveis, e pensado para ser muito fácil de usar. Além disso, o nosso código-fonte e a base de dados são abertas, o que significa que qualquer pessoa pode aceder, contribuir ou reutilizar.
                        </p>
                        <div class="big-numbers">
                            <div class="big-numbers--col">
                                <div id="about-stats--cities" class="big-numbers--number">50+</div>
                                <div class="big-numbers--label">cidades</div>
                            </div>
                            <div class="big-numbers--col">
                                <div id="about-stats--places" class="big-numbers--number" data-countupto="610">2600+</div>
                                <div class="big-numbers--label">bicicletários</div>
                            </div>
                            <div class="big-numbers--col">
                                <div id="about-stats--reviews" class="big-numbers--number" data-countupto="677">800+</div>
                                <div class="big-numbers--label">avaliações</div>
                            </div>
                            <div class="big-numbers--col">
                                <div id="about-stats--views" class="big-numbers--number" data-countupto="25795">30.000+</div>
                                <div class="big-numbers--label">visualizações</div>
                            </div>
                        </div>

                        <p>
                        O bike de boa é um site de mapa colaborativo, disponível no computador e no celular, e pensado para ser muito fácil de usar. Além disso nosso <a class="external-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa">código fonte</a> e <a class="external-link" target="_blank" rel="noopener" href="/dados">banco de dados</a> são livres, o que significa que qualquer pessoa pode acessar, contribuir ou reutilizar como quiser.
                        </p>

                        
                        <!-- <p>
                        Gostamos muito de compartilhar o que aprendemos com o projeto. Palestramos no <a class="external-link" href="/io">Google IO Extended</a> em Porto Alegre falando das modernas tecnologias que usamos, e no <a class="external-link"href="https://www.facebook.com/bicicultura.brasil">Bicicultura</a> em Recife, o maior evento de bicicleta do país. O projeto também chamou a atenção da Rádio Unisinos, que veiculou <a class="external-link" href="https://soundcloud.com/unisinosfm/atomica-app-bike-de-boa">uma entrevista conosco</a>.
                        </p>  -->

                        <h2>Onde já aparecemos</h2>

                        <div class="media-grid">
                        <a class="media-link" target="_blank" rel="noopener" href="https://soundcloud.com/unisinosfm/atomica-app-bike-de-boa /">
                            <img alt="" src="" data-src="/img/media_unisinosfm.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="/io">
                            <img alt="" src="" data-src="/img/media_googleioextended.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://medium.com/bike-de-boa/o-que-aprendemos-no-maior-evento-de-bicicleta-do-brasil-2ba6d05d5c4c">
                            <img alt="" src="" data-src="/img/media_bicicultura.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://gauchazh.clicrbs.com.br/colunistas/paulo-germano/noticia/2017/12/site-mapeia-mais-de-500-bicicletarios-em-porto-alegre-cjatwywfo07lp01mkbixhow79.html">
                            <img alt="" src="" data-src="/img/media_clickrbs.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://braziljs.org/blog/braziljs-weekly-229-pwas-squads-e-vulnerabilidade-no-electron/">
                            <img alt="" src="" data-src="/img/media_braziljsweekly.png" /> 
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="http://bicicultura.rio/">
                            <img alt="" src="" data-src="/img/media_bicicultura2018.png" /> 
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://www.velo-city2018.rio/">
                            <img alt="" src="" data-src="/img/media_velocity.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="http://www.mobilize.org.br/noticias/11051/quer-saber-como-estacionar-sua-bike-de-boa.html">
                            <img alt="" src="" data-src="/img/media_mobilize.png" />
                        </a>
                        </div> 
                        
                        <h2>Quem somos</h2> 
                        
                        <p>
                         Somos um coletivo independente de Designers, Desenvolvedores e Urbanistas em busca de novas maneiras de incentivar o uso
                        da bicicleta nas nossas cidades. Nova visão é de cidades que sejam melhores não só para ir e voltar, mas cidades em que seja
                        melhor estar e parar.
                        </p>

                        <p> 
                        Curtiu? Tem alguma sugestão para o projeto, alguma ideia? Que tal participar disso com a gente? <a class="external-link contact-btn">Vamos conversar!</a>
                        </p>

                        <h2>Como apoiar</h2>
                        
                        <p>
                        O projeto é sem fins lucrativos e trabalhamos no nosso tempo livre, estudando pra entender melhor as necessidades dos ciclistas e divulgando o projeto. Mas pra manter um site no ar há algumas despesas inevitáveis com e hospedagem do site e armazenamento dos dados.
                        </p> 

                        <p>
                        Quer nos ajudar? Temos um <a class="external-link" target="_blank" rel="noopener" href="https://apoia.se/bikedeboa">projeto no Apoia.se,</a> onde pode ajudar com a partir de 1 real por mês - e sério, isso já significa muito pra gente! :)
                        </p>

                        <div style="margin: 3em 0; text-align: center;">
                        <a target="_blank" rel="noopener" href="https://apoia.se/bikedeboa" class="ghost" style="border-radius: 25px; padding: 12px 36px; font-size: 22px; box-shadow: none; cursor: pointer;">
                            Apoie a gente ›
                        </a> 
                        </div>

                        <div class="about-collaborators">
                        <ul>
                            <li>Um valeuzão a nossos apoiadores:</li>
                            <li>❤ Cristiano Medeiros Dalbem</li>
                            <li>❤ Denner Evaldt Machado</li>
                            <li>❤ Eduardo Vernier</li>
                            <li>❤ Francisco Cenzi de Ré</li>
                            <li>❤ Hannah Kny</li>
                            <li>❤ Tadeu Saldanha</li>
                        </ul>
                        </div>


                        <div class='medium-separator'>...</div>


                        <div id="about-social-buttons">
                        <a class="social-link facebook-social-link" target="_blank" rel="noopener" href="https://www.facebook.com/bikedeboaapp">
                            <img alt="" src="" data-src="/img/icon_social_facebook.svg"/> Facebook
                        </a>
                        <a class="social-link instagram-social-link" target="_blank" rel="noopener" href="https://www.instagram.com/bikedeboa/">
                            <img alt="" src="" data-src="/img/icon_social_instagram.svg"/> Instagram
                        </a>
                        <a class="social-link medium-social-link" target="_blank" rel="noopener" href="https://medium.com/bike-de-boa/">
                            <img alt="" src="" data-src="/img/icon_social_medium.svg"/> Medium
                        </a>
                        <a class="social-link github-social-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa">
                            <img alt="" src="" data-src="/img/icon_social_github.svg"/> Github
                        </a> 
                        </div>

                        <hr>

                        <div style="text-align: center;">
                        <!-- Facebook like and share buttons -->
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbikedeboaapp%2F&width=280&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1814653185457307" width="280" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>