<!-- About -->
<div data-keyboard="false" class="modal clean-modal" id="aboutModal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Sobre o Projeto</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <p>
                        <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </p>

                        <p class="subtitle">
                        O quão bom seria poder ir de bicicleta para onde quiser na cidade? Um dos maiores problemas é a falta de lugares para estacionar a bicicleta com segurança. 
                        </p>

                        <p>
                            Bicicletários, como são chamados estacionamentos de bicicletas, são feitos para oferecer conforto e segurança para os ciclistas e funcionam como um <a class="external-link" target="_blank" rel="noopener" href="http://www.bikeswelcome.org/about-bikes-welcome/why-bike-parking/">marketing subliminar para o uso da bicicleta no dia-a-dia"</a>. Há até <a class="external-link" target="_blank" rel="noopener" href="http://www.bikeswelcome.org/about-bikes-welcome/the-bikes-welcome-way/why-bike-parking-research/">pesquisas</a> que comprovam que eles trazem benefícios para a economia local aumentando a clientela e as vendas dos estabelecimentos.
                        </p>

                        <p>
                        Queremos mais bicicletários nas cidades brasileiras, mas também queremos que eles sejam seguros e práticos. O bike de boa é um mapeamento de bicicletários, que visa dar visibilidade aos que já existem assim como discutir o faz eles serem bons ou não. Acreditamos que tudo isso contribui fortemente para que as pessoas se sintam mais seguras e usem mais a bicicleta na cidade. 
                        </p> 

                        <div class="big-numbers">
                        <div class="big-numbers--col">
                            <div id="about-stats--places" class="big-numbers--number" data-countupto="610">600+</div>
                            <div class="big-numbers--label">bicicletários</div>
                        </div>
                        <!-- <div class="big-numbers--col">
                                                            <div id="about-stats--cities" class="big-numbers--number">7</div>
                                                            <div class="big-numbers--label">cidades</div>
                                                        </div> -->
                        <div class="big-numbers--col">
                            <div id="about-stats--reviews" class="big-numbers--number" data-countupto="677">700+</div>
                            <div class="big-numbers--label">avaliações</div>
                        </div>
                        <div class="big-numbers--col">
                            <div id="about-stats--views" class="big-numbers--number" data-countupto="25795">26000+</div>
                            <div class="big-numbers--label">visualizações</div>
                        </div>
                        </div>

                        <p>
                        O bike de boa é um site de mapa colaborativo, disponível no computador e no celular, e pensado para ser muito fácil de usar. Além disso nosso <a class="external-link" target="_blank" rel="noopener" href="https://github.com/cmdalbem/bikedeboa">código fonte</a> e <a class="external-link" target="_blank" rel="noopener" href="/dados">banco de dados</a> são livres, o que significa que qualquer pessoa pode acessar, contribuir ou reutilizar como quiser.
                        </p>

                        
                        <!-- <p>
                        Gostamos muito de compartilhar o que aprendemos com o projeto. Palestramos no <a class="external-link" href="/io">Google IO Extended</a> em Porto Alegre falando das modernas tecnologias que usamos, e no <a class="external-link"href="https://www.facebook.com/bicicultura.brasil">Bicicultura</a> em Recife, o maior evento de bicicleta do país. O projeto também chamou a atenção da Rádio Unisinos, que veiculou <a class="external-link" href="https://soundcloud.com/unisinosfm/atomica-app-bike-de-boa">uma entrevista conosco</a>.
                        </p>  -->

                        <h2>Onde já aparecemos</h2>

                        <div class="media-grid">
                        <a class="media-link" target="_blank" rel="noopener" href="https://soundcloud.com/unisinosfm/atomica-app-bike-de-boa /">
                            <img alt="" src="" data-src="/img/media_unisinosfm.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="/io">
                            <img alt="" src="" data-src="/img/media_googleioextended.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://medium.com/bike-de-boa/o-que-aprendemos-no-maior-evento-de-bicicleta-do-brasil-2ba6d05d5c4c">
                            <img alt="" src="" data-src="/img/media_bicicultura.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://gauchazh.clicrbs.com.br/colunistas/paulo-germano/noticia/2017/12/site-mapeia-mais-de-500-bicicletarios-em-porto-alegre-cjatwywfo07lp01mkbixhow79.html">
                            <img alt="" src="" data-src="/img/media_clickrbs.png" />
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://braziljs.org/blog/braziljs-weekly-229-pwas-squads-e-vulnerabilidade-no-electron/">
                            <img alt="" src="" data-src="/img/media_braziljsweekly.png" /> 
                        </a>
                        <a class="media-link" target="_blank" rel="noopener" href="https://www.velo-city2018.rio/">
                            <img alt="" src="" data-src="/img/media_velocity.png" />
                        </a>
                        </div> 
                        
                        <h2>Quem somos</h2> 
                        
                        <p>
                        Somos um pequeno grupo de amigos, ciclistas urbanos e simpatizantes do ciclismo. Somos desenvolvedores, designers, arquitetos, e o que nos une é a vontade de contribuir com a cultura da bicicleta no Brasil. Alguns de nós já moraram no exterior, o que lhes deu outras visões sobre as possibilidades da cidade. 
                        </p>

                        <p> 
                        Curtiu? Gostaria de participar disso com a gente? Tem alguma sugestão pra melhorar o site? Vamos conversar, estamos totalmente abertos a novos colaboradores e ideias.
                        </p>

                        <h2>Como apoiar</h2>
                        
                        <p>
                        O projeto é sem fins lucrativos e trabalhamos no nosso tempo livre, estudando pra entender melhor as necessidades dos ciclistas e divulgando o projeto. Mas pra manter um site no ar há algumas despesas inevitáveis com servidores e hospedagem.
                        </p>

                        <p>
                        Quer nos ajudar? Temos um <a class="external-link" target="_blank" rel="noopener" href="https://apoia.se/bikedeboa">projeto no Apoia.se,</a> onde pode ajudar com a partir de 1 real por mês - e sério, isso já significa muito pra gente! :)
                        </p>

                        <div style="margin: 2em 0; text-align: center;">
                        <a target="_blank" rel="noopener" href="https://apoia.se/bikedeboa" class="ghost" style="margin: 24px 0; border-radius: 25px; padding: 12px 36px; font-size: 22px; box-shadow: none; cursor: pointer;">
                            Apoie a gente ›
                        </a> 
                        </div>

                        <div class="about-collaborators">
                        <ul>
                            <li>Brigadão a nossos apoiadorxs:</li>
                            <li>Cristiano Medeiros Dalbem</li>
                            <li>Eduardo Vernier</li>
                            <li>Francisco Cenzi de Ré</li>
                            <li>Hannah Kny</li>
                        </ul>
                        </div>


                        <br>
                        
                        <div class='medium-separator'>...</div>

                        <br>


                        <p>
                        Nos acompanhe nas redes sociais:
                        </p>

                        <div id="about-social-buttons">
                        <a class="social-link facebook-social-link" target="_blank" rel="noopener" href="https://www.facebook.com/bikedeboaapp">
                            <img alt="" src="" data-src="/img/icon_social_facebook.svg"/> Facebook
                        </a>
                        <a class="social-link instagram-social-link" target="_blank" rel="noopener" href="https://www.instagram.com/bikedeboa/">
                            <img alt="" src="" data-src="/img/icon_social_instagram.svg"/> Instagram
                        </a>
                        <a class="social-link medium-social-link" target="_blank" rel="noopener" href="https://medium.com/bike-de-boa/">
                            <img alt="" src="" data-src="/img/icon_social_medium.svg"/> Medium
                        </a>
                        <a class="social-link github-social-link" target="_blank" rel="noopener" href="https://github.com/cmdalbem/bikedeboa">
                            <img alt="" src="" data-src="/img/icon_social_github.svg"/> Github
                        </a> 
                        </div>

                        <hr>

                        <div style="text-align: center;">
                        <!-- Facebook like and share buttons -->
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbikedeboaapp%2F&width=280&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1814653185457307" width="280" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>