<!-- Data Modal -->
<div id="dataModal" class="modal fullscreen-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Sobre nossos dados</h1>

                        <section>
                            <p>
                                Assim como nosso <a class="external-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa">código fonte</a>, nossos dados também são abertos, e oferecemos duas maneiras fáceis de acessá-los.
                            </p>

                            <a class="data-modal--block" target="_blank" rel="noopener" href="/dados">
                                <div class="data-modal--block-icon">
                                    <img alt="" src="/img/icon_table_white.svg"/>
                                </div>

                                <div class="data-modal--block-content">
                                    <div class="data-modal--block-title"> 
                                        Tabela de Dados
                                    </div>
                                    <p>
                                        Navegue pelas tabelas dos nossos dados pelo seu computador. Explore, busque, 
                                        filtre, e faça download em vários formatos como Excel e CSV.
                                    </p>
                                </div>

                                <div class="data-modal--block-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </a>

                            <a class="data-modal--block" target="_blank" rel="noopener" href="https://github.com/bikedeboa/bikedeboa-api">
                                <div class="data-modal--block-icon">
                                    <img alt="" src="/img/icon_code_white.svg"/>
                                </div>

                                <div class="data-modal--block-content">
                                    <div class="data-modal--block-title">
                                        API
                                    </div>
                                    <p>
                                        Essa é para desenvolvedores: acesse nossos dados diretamente pela API que 
                                        alimenta este site. Veja no link a documentação de como usá-la.
                                    </p>
                                </div>

                                <div class="data-modal--block-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </a>
                        </section>

                        <section>
                            <h2>Bases importadas</h2>

                            <p>
                                Nós juntamos forças com outras iniciativas de mapeamentos colaborativos do 
                                Brasil, e com a permissão dos seus criadores integramos suas bases de dados às nossas.
                            </p>

                            {{#each dataSources}}
                                <div>
                                    <h3>{{name}}</h3>
                                    <a class="external-link" target="_blank" rel="noopener" href={{{url}}}>{{{url}}}</a>
                                </div>
                            {{/each}}

                        </section>

                        
                        <br>
                        <div class='medium-separator'>...</div>
                        <br>


                        <p>
                        Você conhece outros mapeamentos de bicicletários, paraciclos e lugares amigos do ciclista na sua cidade? Adoraríamos conhecê-los também e contribuir! Se for seu caso, <a class="external-link contact-btn">
                            <img src="/img/icon_mail.svg" class="icon-mail" /> fala com a gente</a> :)
                        </p>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>