<!-- Data Modal -->
<div id="dataModal" data-keyboard="false" class="modal fade" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Sobre nossos dados</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <p>
                            Assim como nosso <a class="external-link" target="_blank" rel="noopener" href="https://github.com/cmdalbem/bikedeboa">código fonte</a>, nossos dados também são abertos.
                        </p>

                        <section>
                            <h2>
                            <img alt="" src="/img/icon_table.svg" class="svg-icon" style="padding: 3px;"/>
                            <a class="external-link" target="_blank" rel="noopener" href="/dados">Tabela de Dados</a>
                            </h2>
                            <p>
                            Nossos dados brutos em forma de tabela. Explore, filtre, e faça download em vários formatos como Excel, CSV, XML e JSON.
                            </p>
                        </section>

                        <section>
                            <h2>
                            <img alt="" src="/img/icon_code.svg" class="svg-icon"/>
                            <a class="external-link" target="_blank" rel="noopener" href="https://github.com/dennerevaldt/bikedeboa-api">API</a>
                            </h2>
                            <p>
                            A API que alimenta este site. Acesse o link para conferir a documentação.
                            </p>
                        </section>

                        <section>
                            <h2>
                            <img alt="" src="/img/icon_upload.svg" class="svg-icon"/>
                            Importar Dados
                            </h2>
                            <p>
                            Você conhece outros mapeamentos de bicicletários, paraciclos e lugares amigos do ciclista na sua cidade? Adoraríamos conhecê-los também e contribuir! Se for seu caso, <a class="external-link contact-btn">
                                <img src="/img/icon_mail.svg" class="icon-mail" /> fala com a gente</a> :)
                            </p>
                        </section>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>