<div id="faqModal" data-keyboard="false" class="modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Perguntas Frequentes</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <div id="faq-accordion" class="panel-group" aria-controls="collapseOne">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseThree">
                                        <h4 class="panel-title">
                                            Quando estará disponível na minha cidade?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            O “Bike de Boa” já pode ser usado em Lisboa e há uma equipa atenta aos novos dados sobre a cidade. No entanto, este é um mapa colaborativo, o que significa que todas as informações são enviadas pelos próprios utilizadores, em qualquer ponto do mapa. Colabora  tu também assinalando os bicicletários da tua cidade e onde gostarias que instalassem mais bicicletários. Não te esqueças de divulgar o site na tua comunidade para que todos possam também colaborar e serem ajudados .
                                        </p>
                                        <p>
                                            Se já conheces mapeamentos de bicicletários, paraciclos e lugares amigos do ciclista na tua cidade, 
                                            <a
                                                class="external-link" href="mailto:bikedeboa@gmail.com">
                                                <img src="/img/icon_mail.svg" class="icon-mail" /> fala connosco!</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseOne">
                                        <h4 class="panel-title">
                                            O que é o Bike de Boa?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Vê a secção <a class="external-link" class="openAboutBtn">Sobre o Projeto</a> para saberes mais sobre a origem do o “Bike de Boa”, como funciona e projectos e ideias futuros.
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseFive">
                                        <h4 class="panel-title">
                                            Como posso contribuir?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div>
                                            <p>
                                                Se tu se interessa pelo tema, quer aprender mais ou tem ideias que quer conversar com a gente, temos um
                                                <a
                                                    class="external-link" target="_blank" rel="noopener" href="https://join.slack.com/t/bikedeboa/shared_invite/enQtMjkzNTkyODMzOTcxLTRiM2RiMGI2MWI3ZWVmNzY2NjI1M2VjMTkxYWRjNWYyMWNhM2E5M2YxZTUwNTkzNmZhMDBmYzg3MGY4YjA1Y2I">grupo de discussão projeto no Slack</a>, é só chegar.
                                            </p>
                                            <p>
                                                ️Tu pode nos ajudar com os nossos custos mensais de manutenção nos pagando um cafezinho pela nossa
                                                <a
                                                    class="external-link" target="_blank" rel="noopener" href="https://apoia.se/bikedeboa">projeto no Apoia.se</a>. Qualquer dois reais já ajuda, e demonstra que
                                                    tu apoia a causa. :) Sendo um apoiador ficaremos felizes de divulgar o seu nome na seção <a class="external-link" class="openAboutBtn">Sobre o Projeto</a>.
                                            </p>
                                            <p>
                                                Se tu manja de Desenvolvimento Web (
                                                <a class="external-link" target="_blank"
                                                    rel="noopener" href="https://github.com/bikedeboa/bikedeboa">front-end</a> ou
                                                <a class="external-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa/bikedeboa-api">back-end</a>) ou curte Design de Interação temos um bom backlog de tarefas
                                                de todos níveis de complexidade. Toda ajuda é bem vinda!
                                            </p>
                                            <p>
                                                Se tu manja de Marketing, Urbanismo, Jornalismo, é empreendedor, curte fazer umas artes, ou qualquer coisa bacana e acha
                                                que pode somar,
                                                <a
                                                    class="external-link" href="mailto:bikedeboa@gmail.com">chega junto</a>!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseFour">
                                        <h4 class="panel-title">
                                            Como posso corrigir ou melhorar as informações dos bicicletários?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Basta efetuares o registo/login e poderás editar qualquer informação sobre qualquer bicicletário. Tão simples quanto isso.:)
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseSix">
                                    <h4 class="panel-title">
                                    Quando terá no mapa outras coisas do interesse dos ciclistas, como oficinas, locais para tomar banho, etc.?
                                    </h4>
                                </a>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Estamos a pensar nisso! Se tens alguma ideia, ou manténs algum tipo de mapeamento semelhante e achas que podemos trabalhar juntos, contacta-nos.
Não encontraste resposta às tuas dúvidas? <a class="external-link" href="#"><img src="/img/icon_mail.svg" class="icon-mail"/> Entra em contacto connosco!</a>
                                </div>
                                </div>
                            </div>

                        </div>

                        <p>
                            Não encontrou sua dúvida? Entre em
                            <a class="external-link contact-btn">
                                <img src="/img/icon_mail.svg" class="icon-mail" /> contato</a>!
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>