<div id="faqModal" data-keyboard="false" class="modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Perguntas Frequentes</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <div id="faq-accordion" class="panel-group" aria-controls="collapseOne">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseThree">
                                        <h4 class="panel-title">
                                            Quando estará disponível na minha cidade?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>O Cidade Ciclável pode ser usado em qualquer ponto de Portugal continental. Colabora, assinalando e avaliando bicicletários existentes, ou onde gostarias que instalassem mais bicicletários. Não te esqueças de divulgar o site para que todos possam também colaborar e ser ajudados.</br>
                                        Actualmente, em Aveiro, Lisboa, e Setúbal, há equipas atentas aos novos dados. Passo a passo, esta monitorização será alargada a outros municípios.</br>
                                        Alguns dos dados desta plataforma são fruto da colaboração das seguintes Câmaras Municipais (por ordem de participação): Lisboa, Guimarães.</p>
                                        <p>Gostarias que o mapa estivesse activo para a tua cidade? Conheces mapeamentos de bicicletários desenhados para a tua cidade? Contacta-nos, <a
                                                class="external-link" href="mailto:bikedeboa@gmail.com">
                                                <img src="/img/icon_mail.svg" class="icon-mail" /> fala connosco!</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseOne">
                                        <h4 class="panel-title">
                                            O que é Cidade Ciclável?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Vê a secção <a class="external-link" class="openAboutBtn">Sobre o Projecto</a> para saberes mais sobre a origem do “Cidade Ciclável”, como funciona e projectos e ideias futuros.
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseFive">
                                        <h4 class="panel-title">
                                            Como posso contribuir?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div>
                                            <p>Interessas-te pelo tema, queres aprender mais ou tens ideias que gostarias de partilhar connosco? Torna-te associado da MUBi e participa no <a href="https://forum.mubi.pt/"class="external-link" target="_blank" rel="noopener" >fórum MUBi.</a></p>

                                            <p>Podes fazer um donativo, em qualquer valor. 1 euro por mês já será uma ajuda inestimável.</p>

                                            <p>Queres contribuir para a melhoria do site? Se tens competências de Desenvolvimento Web (<a class="external-link" target="_blank"
                                                    rel="noopener" href="https://github.com/bikedeboa/bikedeboa">front-end</a> ou <a class="external-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa/bikedeboa-api">back-end</a>) ou de Design de Interacção, temos um bom backlog de tarefas de todos níveis de complexidade. Toda a ajuda é bem-vinda! Fala com a equipa fantástica de programadores. <a
                                                    class="external-link" target="_blank" rel="noopener" href="https://join.slack.com/t/bikedeboa/shared_invite/enQtMjkzNTkyODMzOTcxLTRiM2RiMGI2MWI3ZWVmNzY2NjI1M2VjMTkxYWRjNWYyMWNhM2E5M2YxZTUwNTkzNmZhMDBmYzg3MGY4YjA1Y2I">Contacta-nos.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseFour">
                                        <h4 class="panel-title">
                                            Como posso corrigir ou melhorar as informações dos bicicletários?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <p>
                                            Basta efectuares o registo/login e poderás editar qualquer informação sobre qualquer bicicletário. Tão simples quanto isso :-).

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseSix">
                                    <h4 class="panel-title">
                                    Quando terá no mapa outras coisas do interesse dos ciclistas, como oficinas, locais para tomar banho, etc.?
                                    </h4>
                                </a>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Estamos a pensar nisso! Se tens alguma ideia, ou manténs algum tipo de mapeamento semelhante e achas que podemos trabalhar juntos, <a class="external-link" href="#"><img src="/img/icon_mail.svg" class="icon-mail"/> contacta-nos!</a>.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseSeven">
                                        <h4 class="panel-title">
                                            Sobre nossa política de cookies
                                        </h4>
                                    </a>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                <b>O que é um cookie?</b>
                                                <p>
                                                    Um cookie é um pequeno ficheiro de texto que um site coloca no teu computador, telefone ou qualquer outro dispositivo com acesso à internet, contendo informação sobre a tua navegação nesse site. 
                                                </p>
                                                <b>Como utilizamos a informação no cidade ciclável?</b>
                                                <p>Os cookies do cidade ciclável retêm apenas informação relacionada com a utilização da APP e não armazenam dados pessoais nem os transmitem a terceiros.</p>
                                                <p>Desactivar os cookies no teu navegador pode afetar ou até mesmo inviabilizar o funcionamento da APP.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <p>
                            Tens outras dúvidas? <a class="external-link contact-btn">
                                Contacta-nos. <img src="/img/icon_mail.svg" class="icon-mail" /></a>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>