<div id="faqModal" data-keyboard="false" class="modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Perguntas Frequentes</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <div id="faq-accordion" class="panel-group" aria-controls="collapseOne">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseThree">
                                        <h4 class="panel-title">
                                            Quando estará disponível na minha cidade?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            O “Cidade Ciclável” já pode ser usado na área metropolitana de Lisboa e há uma equipa atenta aos novos dados sobre a cidade. No entanto, este é um mapa colaborativo, o que significa que todas as informações são enviadas pelos próprios utilizadores, em qualquer ponto do mapa. Colabora  tu também assinalando os bicicletários da tua cidade e onde gostarias que instalassem mais bicicletários. Não te esqueças de divulgar o site na tua comunidade para que todos possam também colaborar e serem ajudados .
                                        </p>
                                        <p>
                                            Se já conheces mapeamentos de bicicletários, paraciclos e lugares amigos do ciclista na tua cidade, 
                                            <a
                                                class="external-link" href="mailto:bikedeboa@gmail.com">
                                                <img src="/img/icon_mail.svg" class="icon-mail" /> fala connosco!</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseOne">
                                        <h4 class="panel-title">
                                            O que é Cidade Ciclável?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Vê a secção <a class="external-link" class="openAboutBtn">Sobre o Projeto</a> para saberes mais sobre a origem do “Cidade Ciclável”, como funciona e projectos e ideias futuros.
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseFive">
                                        <h4 class="panel-title">
                                            Como posso contribuir?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div>
                                            <p>Interessas-te pelo tema, queres aprender mais ou tens ideias que gostarias de partilhar connosco? Torna-te associado da MUBi e participa no <a href="https://forum.mubi.pt/"class="external-link" target="_blank" rel="noopener" >fórum MUBi.</a></p>

                                            <p>Podes fazer um donativo, em qualquer valor. 1 euro por mês já será uma ajuda inestimável.</p>

                                            <p>Queres contribuir para a melhoria do site? Se tens competências de Desenvolvimento Web (<a class="external-link" target="_blank"
                                                    rel="noopener" href="https://github.com/bikedeboa/bikedeboa">front-end</a> ou <a class="external-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa/bikedeboa-api">back-end</a>) ou de Design de Interacção, temos um bom backlog de tarefas de todos níveis de complexidade. Toda a ajuda é bem-vinda! Fala com a equipa fantástica de programadores. <a
                                                    class="external-link" target="_blank" rel="noopener" href="https://join.slack.com/t/bikedeboa/shared_invite/enQtMjkzNTkyODMzOTcxLTRiM2RiMGI2MWI3ZWVmNzY2NjI1M2VjMTkxYWRjNWYyMWNhM2E5M2YxZTUwNTkzNmZhMDBmYzg3MGY4YjA1Y2I">Contacta-nos.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseFour">
                                        <h4 class="panel-title">
                                            Como posso corrigir ou melhorar as informações dos bicicletários?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <p>
                                            Basta efectuares o registo/login e poderás editar qualquer informação sobre qualquer bicicletário. Tão simples quanto isso :-).

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#faq-accordion" href="#collapseSix">
                                    <h4 class="panel-title">
                                    Quando terá no mapa outras coisas do interesse dos ciclistas, como oficinas, locais para tomar banho, etc.?
                                    </h4>
                                </a>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Estamos a pensar nisso! Se tens alguma ideia, ou manténs algum tipo de mapeamento semelhante e achas que podemos trabalhar juntos, <a class="external-link" href="#"><img src="/img/icon_mail.svg" class="icon-mail"/> contacta-nos!</a>.
                                </div>
                                </div>
                            </div>

                        </div>

                        <p>
                            Tens outras dúvidas? <a class="external-link contact-btn">
                                Contacta-nos. <img src="/img/icon_mail.svg" class="icon-mail" /></a>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>