<!-- Guide -->
<div data-keyboard="false" class="modal clean-modal" id="guideModal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Guia de Tipos de Bicicletários</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <p>
                        Saber como estacionar a bicicleta na cidade é <b>essencial e pode ser bem fácil</b> :) A gente reuniu aqui algumas dicas básicas sobre bicicletários que fazem toda a diferença para a sua bicicleta ficar de boa.
                        </p>

                        <p>
                        Independente do bicicletário, lembre sempre usar uma <b>boa trava</b> e prender a bicicleta <b>pelo quadro, não apenas pela roda</b>. Se conseguir prender o <b>quadro com a roda junto</b>, melhor ainda! Também vale muito a pena investir em um bom cadeado, e os melhores normalmente são os do tipo "u-lock".
                        </p>

                        <!-- <div class="center">
                        <img class="guide-type-img" alt="" src="/img/icon_guide_lock.svg"/>
                        </div> -->

                        <p>
                        Selecionamos os tipos de bicicletário abaixo por serem os mais comuns nas cidades brasileiras. Cada um tem características de <b>segurança e praticidade diferentes</b>, por isso é bacana começar a reparar nesses detalhes quando for estacionar a bike.
                        </p>

                        <section>
                        <h2>U Invertido</h2>

                        <div>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_guide_uinvertido.svg"/>
                            </div>

                            <div>
                                <p>
                                    Em forma de U ou semi-círculo, normalmente é uma estrutura reforçada e bem fixada no chão. É frequentemente considerado o melhor tipo de bicicletário, oferece segurança e estabilidade e permite usar trava ulock. 
                                </p>
                            </div>
                        </div>
                        
                        <button class="close-and-filter link-button" data-prop="structureType" data-value="uinvertido">
                            <img class="svg-icon" alt="" src="/img/icon_map.svg"/> Ver no mapa
                        </button>

                        <div class="guide-img-row">
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/936.jpeg">
                            <img alt="Casa de Cultura Mário Quintana - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/936.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1069.jpeg">
                            <img alt="Zaffari da Fernando Machado - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1069.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1000.jpeg">
                            <img alt="Chalé da Praça - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1000.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1537.jpeg">
                            <img alt="Parque da Usina do Gasômetro - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1537.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/920.jpeg">
                            <img alt="Shopping Total - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/920.jpeg"/>
                            </a>
                        </div>
                        </section>

                        <section>
                        <h2>De Roda</h2>

                        <div>
                            <div class="center">
                            <img class="guide-type-img" alt="" src="/img/icon_guide_deroda.svg"/>
                            </div>

                            <div>
                                <p>
                                    Pode ter várias formas. Os mais comuns são pequenos triângulos ou semi-círculos. A qualidade da estrutura varia bastante. Alguns são frágeis e mal fixados no chão, outros são mais rígidos e confiáveis. 
                                </p>
                                    
                                <p>
                                    A menos que se use uma trava flexível, normalmente só dá pra prender a bicicleta pela roda. Alguns destes bicicletários
                                    não oferecem boa estabilidade e podem danificar a roda, os raios ou o câmbio traseiro, o que lhes rendeu o apelido carinhoso de "entorta-roda" entre os ciclistas.
                                </p>

                                <p>
                                    Este tipo economiza espaço, mas nem sempre é o mais prático ou mais seguro.
                                </p>
                            </div>
                        </div>

                        <button class="close-and-filter link-button" data-prop="structureType" data-value="deroda">
                            <img class="svg-icon" alt="" src="/img/icon_map.svg"/> Ver no mapa
                        </button>

                        <div class="guide-img-row">
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1167.jpeg">
                            <img alt="Confeitaria Bom Gosto - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1167.jpeg"/> 
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/931.jpeg">
                            <img alt="Academia da Redenção - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/931.jpeg"/> 
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1532.jpeg">
                            <img alt="Bar Opinião - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1532.jpeg"/> 
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1487.jpeg">
                            <img alt="Velho Tranquilo Barbearia - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1487.jpeg"/> 
                            </a>
                        </div>
                        </section>

                        <section>
                        <h2>Trave</h2>

                        <div>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_guide_trave.svg"/>
                            </div>

                            <div>
                                <p>
                                    Normalmente um poste de luz ou placa de trânsito. 
                                </p>
                                    
                                <p>
                                    Alguns problemas comuns são deixar uma folga e a trava correr no poste derrubando a bicicleta no chão. Cuidado também pra não prender em um poste baixo onde a bicicleta possa ser roubada passando por cima dele.
                                </p>
                            </div>
                        </div>

                        <button class="close-and-filter link-button" data-prop="structureType" data-value="trave">
                            <img class="svg-icon" alt="" src="/img/icon_map.svg"/> Ver no mapa
                        </button>
 
                        <div class="guide-img-row">
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1155.jpeg">
                            <img alt="Donna Laura - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1155.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://c1.staticflickr.com/9/8482/8192532801_6acef621f5_b.jpg">
                            <img alt="Joel Zimmer @ Flickr - https://www.flickr.com/photos/joelzimmer/" src="" data-src="https://c1.staticflickr.com/9/8482/8192532801_6acef621f5_b.jpg"/>
                            </a>

                            <a href="#" data-featherlight="https://farm8.staticflickr.com/7026/6440383529_6f238d27f6_o_d.jpg">
                            <img alt="Michele Ursino @ Flickr - https://www.flickr.com/photos/micurs/" src="" data-src="https://farm8.staticflickr.com/7026/6440383529_6f238d27f6_o_d.jpg"/>
                            </a>
                        </div>
                        </section>

                        <section>
                        <h2>Suspenso</h2>

                        <div>
                            <div class="center">
                            <img class="guide-type-img" alt="" src="/img/icon_guide_suspenso.svg"/>
                            </div>

                            <div>
                                <p>
                                    Também conhecido como "varal", normalmente lembra uma goleira com ganchos para pendurar a bicicleta. Às vezes se trata de simples ganchos na parede.
                                </p>

                                <p>
                                    Cuidado que alguns destes só permitem prender a bicicleta pela roda, a menos que se use uma trava flexível. Às vezes dá pra prender o quadro da bicicleta próximo aos pilares.
                                </p>
                                    
                                <p>
                                    Este tipo economiza espaço, mas nem sempre é o mais prático ou mais seguro. Pessoas com um pouco de dificuldade motora, como pessoas de mais idade ou muito jovens, podem ter dificuldade de usá-lo.
                                </p>
                            </div>
                        </div>

                        <button class="close-and-filter link-button" data-prop="structureType" data-value="suspenso">
                            <img class="svg-icon" alt="" src="/img/icon_map.svg"/> Ver no mapa
                        </button>

                        <div class="guide-img-row"> 
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1552.jpeg">
                            <img alt="Casa de Pelotas - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1552.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1274.jpeg">
                            <img alt="Grêmio Náutico Gaúcho - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1274.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://www.bike-palast.com/out/pictures/master/product/2/img_2102.jpg">
                            <img alt="cyclehoop.com" src="" data-src="https://www.bike-palast.com/out/pictures/master/product/2/img_2102.jpg"/>
                            </a>
                            
                            <a href="#" data-featherlight="http://ameribike.com/wp-content/uploads/2013/04/ultra-space-saver-sq-large.jpg">
                            <img alt="ameribike.com" src="" data-src="http://ameribike.com/wp-content/uploads/2013/04/ultra-space-saver-sq-large.jpg"/>
                            </a>
                            
                            <a href="#" data-featherlight="http://www.cyclehoop.com/wp-content/uploads/2012/11/Semi-Vertical-Shelter2.jpg">
                            <img alt="cyclehoop.com" src="" data-src="http://www.cyclehoop.com/wp-content/uploads/2012/11/Semi-Vertical-Shelter2.jpg"/>
                            </a>
                        </div>
                        </section>

                        <section>
                        <h2>Grade</h2>

                        <div>
                            <div class="center">
                            <img class="guide-type-img" alt="" src="/img/icon_guide_grade.svg"/>
                            </div>

                            <div>
                            <p>
                                Normalmente não é bicicletário, mas um objeto da rua ("mobiliário urbano") que é usado com este fim.
                            </p>
                                
                            <p>
                                Há muitas variações: alguns são rígidos e bem fixados, já outros são bem menos confiáveis. Apesar de não ser feito pra isso, às vezes é até mais seguro do que um bicicletário de roda por exemplo. 
                            </p>
                            </div>
                        </div>

                        <button class="close-and-filter link-button" data-prop="structureType" data-value="grade">
                            <img class="svg-icon" alt="" src="/img/icon_map.svg"/> Ver no mapa
                        </button>

                        <div class="guide-img-row">
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1239.jpeg">
                            <img alt="MM Lanches - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1239.jpeg"/> </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1052.jpeg">
                            <img alt="Baden Cafés Especiais - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1052.jpeg"/> </a>

                            <a href="#" data-featherlight="https://farm4.staticflickr.com/3789/10131404723_ebe490cba9_o_d.jpg">
                            <img alt="Paul Sableman @ Flickr - https://www.flickr.com/photos/pasa/" src="" data-src="https://farm4.staticflickr.com/3789/10131404723_ebe490cba9_o_d.jpg"/> </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/974.jpeg">
                            <img alt="Ginásio Gigantinho - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/974.jpeg"/> </a>
                        </div>
                        </section>

                        <section>
                        <h2>Outro</h2>

                        <div>
                            <div class="center">
                            <img class="guide-type-img" alt="" src="/img/icon_guide_outro.svg"/>
                            </div>

                            <div>
                                <p>
                                    Alguns bicicletários são diferentões e não se encaixam em nenhuma categoria. Alguns nem foram feitos pra serem bicicletários de fato, mas acabam sendo usados assim.
                                </p>
                                    
                                <p>
                                    Lembre de verificar as avaliações de outros usuários no <b>bike de boa</b> e a foto. Na hora dê uma boa olhada pra conferir a qualidade da estrutura usando os conhecimentos deste guia.
                                </p>
                            </div>
                        </div>

                        <button class="close-and-filter link-button" data-prop="structureType" data-value="other">
                            <img class="svg-icon" alt="" src="/img/icon_map.svg"/> Ver no mapa
                        </button>

                        <div class="guide-img-row">
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/963.jpeg">
                            <img alt="Café Bonobo - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/963.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://s3.amazonaws.com/bikedeboa/images/1342.jpeg">
                            <img alt="Lends Club - Porto Alegre, RS." src="" data-src="https://s3.amazonaws.com/bikedeboa/images/1342.jpeg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://farm4.staticflickr.com/3810/13380602893_9a636de5ed_z_d.jpg">
                            <img alt="https://www.flickr.com/photos/vastateparksstaff/" src="" data-src="https://farm4.staticflickr.com/3810/13380602893_9a636de5ed_z_d.jpg"/>
                            </a>
                            
                            <a href="#" data-featherlight="https://www.dero.com/wp-content/uploads/12017506_10153655293281514_16987265631355852_o1.jpg">
                            <img alt="dero.com" src="" data-src="https://www.dero.com/wp-content/uploads/12017506_10153655293281514_16987265631355852_o1.jpg"/>
                            </a>
                        </div>
                        </section>

                        <h2>
                            Referências
                        </h2>

                        <p>
                            Este guia é baseado no nosso dia-a-dia como ciclistas e nos excelentes materiais de várias partes do mundo com recomendações de experts.
                        </p>
                        <p>
                            Estas foram algumas de nossas principais referências: 
                        </p>

                        <ul class="guide-references-list">
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="http://www.uniaodeciclistas.org.br/biblioteca/guia-estacionamentos/">Boas Práticas para Instalação de Estacionamento de Bicicletas
                                <span class="references-label">União de Ciclistas do Brasil (UCB)</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="http://ta.org.br/educativos/docs/prenda_ou_perca.pdf">Prenda ou Perca - Um guia rápido para proteger sua bicicleta
                                <span class="references-label">Transporte Ativo</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.sfmta.com/getting-around/bicycling/keep-your-bike-safe">Keep Your Bike Safe (When You're Not There)
                                <span class="references-label">SFMTA - San Francisco Municipal Transportation Agency. São Francisco (EUA)</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="http://content.tfl.gov.uk/Workplace-Cycle-Parking-Guide.pdf">Workplace Cycle Parking Guide
                                <span class="references-label">Transport for London, Inglaterra</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="http://www.bikesense.org/pdfs/bikeparkingmanuals/bicycleparkingguidelinesmay08.pdf">Guidelines for the Design and Management of Bicycle Parking Facilities
                                <span class="references-label">City of Toronto. Toronto, Canadá</span>
                                </a>
                            </li> 
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www1.toronto.ca/city_of_toronto/transportation_services/cycling/files/pdf/bicycle_parking_guide.pdf">A Guide for Business Owners & Cyclists in the City of Toronto
                                <span class="references-label">Toronto Bicycle User Group. Toronto, Canadá</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.dero.com/bike-parking-guide/">Bike Parking Guide
                                <span class="references-label">Dero. Nova Iorque (EUA)</span>
                                </a>
                            </li>
                        </ul>

                        {{#if showMapBanner}}
                            <div class='medium-separator'>...</div>

                            <div>
                                <a href="/">
                                    <img alt="" src="/img/banner.png" />
                                </a>

                                <h3>
                                    {{!-- <div>
                                        <img class="svg-icon" alt="" src="/img/pin_green.svg"/>
                                        <img class="svg-icon" alt="" src="/img/pin_yellow.svg"/>
                                        <img class="svg-icon" alt="" src="/img/pin_red.svg"/>
                                        <img class="svg-icon" alt="" src="/img/pin_gray.svg"/>
                                    </div> --}}

                                    {{!-- <img class="illustration" alt="" src="/img/art2.svg" /> --}}

                                    Encontre onde estacionar a bike - de boa!
                                </h3>
                                
                                <p>
                                    O <a class="external-link" href="/"><b>bike de boa</b></a> é um mapa colaborativo de bicicletários, paraciclos e estabelecimentos amigos do ciclista.
                                    Você pode procurar por bicicletários por perto, deixar avaliações e ver o que outros usuários pensam sobre a segurança desses locais.
                                </p>

                                <div style="margin: 3em 0px; text-align: center; opacity: 1; display: block; transform: translateY(0px);" class="">
                                    <a href="/" class="ghost" style="border-radius: 25px; padding: 12px 36px; font-size: 22px; box-shadow: none; cursor: pointer;">
                                        Acesse o mapa
                                    </a>
                                </div>
                            </div>

                        {{/if}}
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>