<!-- Guide -->
<div id="guideTagsModal" data-keyboard="false" class="modal clean-modal guide-modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Como identificar um bicicletário seguro</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <div class="img-mosaic">
                            <img alt="" src="/img/icon_tag_spacious.svg" style="opacity: .8;"/>
                            <img alt="" src="/img/icon_tag_strong.svg" style="opacity: .8;"/>
                            <img alt="" src="/img/icon_tag_easyaccess.svg" style="opacity: .8;"/>
                            <img alt="" src="/img/icon_tag_visible.svg" style="opacity: .8;"/>
                            <img alt="" src="/img/icon_tag_bustling.svg" style="opacity: .8;"/>
                            <img alt="" src="/img/icon_tag_monitored.svg" style="opacity: .8;"/>
                        </div> 
                        
                        <p> 
                             Reconhecer um bom estacionamento de bicicletas é muito importante para garantir a segurança da sua bike quando você prende
                            ela fora de casa. A gente juntou aqui algumas dicas que vão te ajudar a julgar o lugar onde você quer prender sua bicicleta,
                            mesmo que você nunca tenha ido lá.
                        </p>
                        <p>
                             Independente do bicicletário, lembre sempre usar uma
                            <b>boa trava</b> e prender a bicicleta
                            <b>pelo quadro, não apenas pela roda</b>. Se conseguir prender o
                            <b>quadro com a roda junto</b>, melhor ainda! Também vale muito a pena investir em um bom cadeado, e os melhores normalmente
                            são os do tipo "u-lock".
                        </p>
                        <p>
                             Existem basicamente duas coisas importantes na hora de escolher um bom bicicletário: <b>como ele é</b> e <b>onde ele fica</b>. E a gente
                            precisa ter o olho treinadinho para cada uma delas.
                        </p>
 
                        <h2>Como ele é?</h2>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/tipo_uinvertido.svg" style="filter: grayscale(100%) brightness(.5); width: 90px;"/>
                                <h3>Tipo de bicicletário</h3>
                            </div> 

                            <div>
                                <div>
                                    <p>
                                         Um bom bicicletário deve ter uma forma fácil de entender, prática de usar e segura de prender. Existem vários tipos diferentes
                                        de bicicletários, alguns melhores do que outros. O melhor tipo é o U invertido, é o bicicletário mais completo.
                                    </p>
                                    <p>
                                         O mais importante é ver se dá pra prender a bicicleta pelo quadro, ou seja, pela parte central da bicicleta, e não somente
                                        pela roda. E se você quiser entender melhor e conhecer os outros tipos, da uma olhadinha no nosso guia de tipos de bicicletários.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_tag_spacious.svg" style="opacity: .8;"/>
                                <h3>Espaçoso</h3>
                            </div>

                            <div>
                                <div>
                                    <p>
                                         Um bom bicicletário deve ser bem dimensionado. Isso não significa necessariamente ser enorme, com dezenas ou centenas de
                                        vagas, mas ter o tamanho certo para a demanda do lugar.
                                    </p>
                                    <p>
                                         Dependendo do fluxo, um bicicletário muito pequeno não necessariamente vai fazer os ciclistas evitarem o local, mas vai
                                        fazer eles prenderem a bike em lugares menos indicados.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_tag_strong.svg" style="opacity: .8;"/>
                                <h3>Reforçado</h3>
                            </div>

                            <div>
                                <div>
                                    <p>
                                         Um bom bicicletário precisa ser sólido e robusto, que não pareça que vai ceder a uma tentativa de roubo mais forte. Para
                                        saber isso você deve olhar se a estrutura dele é rígida e também se está bem presa no chão.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <h2>Onde ele fica?</h2>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_tag_easyaccess.svg" style="opacity: .8;"/>
                                <h3>Fácil acesso</h3>
                            </div>

                            <div>
                                <div>
                                    <p>
                                         O bicicletário deve ser fácil de acessar. Para isso ele deve ficar próximo às entradas principais ou deve ser muito bem
                                        sinalizado. É importante também que ele não tenha um acesso burocrático, que exija falar com meio mundo pra acessar.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_tag_visible.svg"  style="opacity: .8;"/>
                                <h3>Visível</h3>
                            </div>
                        
                            <div>
                                <div>
                                    <p>
                                         Um bom bicicletário deve ser visto em todos os horários do dia. Pra isso ele deve ficar próximo de onde as pessoas circulam,
                                        sem atrapalhar o fluxo mas sem se isolar. À noite é importante que o local seja bem iluminado.
                                    </p>
                                    <p>
                                         Um bicicletário escondido não é uma boa ideia. Longe dos nossos olhos, um ladrão tem muito mais tranquilidade e tempo para
                                        fazer o que for preciso para quebrar até a melhor trava.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_tag_bustling.svg"  style="opacity: .8;"/>
                                <h3>Movimentado</h3>
                            </div>
                        
                            <div>
                                <div>
                                    <p>
                                         É ótimo quando há movimento considerável de pessoas próximo ao bicicletário. E quanto mais tempo melhor. Observe, por exemplo,
                                        se há comércios e estabelecimentos que funcionam em vários horários do dia em volta do bicicletário.
                                    </p>
                                    <p>
                                         Nem sempre podemos contar com um monitoramento profissional, por isso ter os olhos de quem passa como nosso aliado é importantíssimo.
                                    </p>
                                </div>
                            </div>
                        </section>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/icon_tag_monitored.svg"  style="opacity: .8;"/>
                                <h3>Monitorado</h3>
                            </div>
                        
                            <div>
                                <div>
                                    <p>
                                         É muito bom quando o bicicletário está perto de algum tipo de monitoramento. Pode ser uma guarita de segurança, câmeras,
                                        funcionários do estabelecimento ou o próprio público do local.
                                    </p>
                                    <p>
                                         O importante é observar se há alguém ativamente cuidando da nossa bike.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <br><br><br><br>
                        <div class='medium-separator'>...</div>

                        <h2>
                        Referências
                        </h2>

                        <p>
                            Este guia é baseado no nosso dia-a-dia como ciclistas e nos excelentes materiais de várias partes do mundo com recomendações de experts.
                        </p>

                        <ul class="guide-references-list">
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=tNmNp18RcpA">Como prender sua bike na rua com segurança (vídeo)
                                <span class="references-label">Bike é Legal</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.strongtowns.org/journal/2017/10/31/what-makes-for-great-bike-parking">What makes for great bike parking?
                                <span class="references-label">Strong Towns</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.bikeswelcome.org/bikes-mean-businesses/bike-parking-for-business/good-bike-parking-basics/">Good bike parking basics
                                <span class="references-label">Bikes Welcome</span>
                                </a>
                            </li>
                        </ul>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>