<!-- Guide -->
<div id="guideTagsModal" class="modal fullscreen-modal guide-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">
                            <div class="guide--pretitle">
                                <img class="svg-icon" alt="" src="/img/icon_book.svg" /> Guia
                            </div>
                            Como identificar um bicicletário seguro
                        </h1>

                        <div class="guide--updated-at">
                            Atualizado em 21/05/2018
                        </div>

                        <div class="img-mosaic">
                            <img alt="" src="/img/art_tag_spacious.svg" />
                            <img alt="" src="/img/art_tag_strong.svg" />
                            <img alt="" src="/img/art_tag_easyaccess.svg" />
                            <img alt="" src="/img/art_tag_visible.svg" />
                            <img alt="" src="/img/art_tag_bustling.svg" />
                            <img alt="" src="/img/art_tag_monitored.svg" />
                        </div> 

                        <p class="subtitle">
                            É fundamental saberes como prender a tua bicicleta. Não é complicado mas exige usar um conjunto simples de regras que te tragam tranquilidade na altura de a ires buscar.
                        </p>
                        <p>
                            <b>Bom cadeado/ corrente</b> (regra de ouro: 10% a 20% do custo da tua bicicleta) - em forma de U ou D, associado ou não a uma corrente com espessura superior a 13mm de espessura; não uses correntes que se possam cortar com um simples alicate;<br/>
                            <b>Prender a bicicleta em dois (2) pontos:</b> pelo quadro e pela roda, em simultâneo. Se não for possível, pelo menos pelo quadro. Nunca apenas pela roda!<br/>
                            Escolher um bom <b>bicicletário!</b><br/>
                        </p>
                        <p>
                            Existem basicamente 2 fatores importantes na hora de escolher um bom bicicletário: tipo e localização.
                        </p>


                        <h2>Como ele é?</h2>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/art_tag_racktype.svg"/>
                                <h3>Tipo de bicicletário</h3>
                            </div> 

                            <div>
                                <div>
                                    <p>
                                        Um bom bicicletário deve ter uma forma fácil de identificar, prática de usar e segura de prender a bicicleta. Existem vários tipos diferentes de bicicletários, alguns melhores do que outros. O melhor tipo é o U invertido; é o bicicletário mais completo.
                                    </p>
                                    <p>
                                        O aspecto mais importante é o de garantir que é possível prender a bicicleta em 2 pontos, em particular pelo quadro, ou seja, pela parte central da bicicleta, e não somente pela roda.  <a href='/guia-de-bicicletarios' class='open-guide-btn external-link'>Espreita o nosso Guia de tipos de bicicletário</a>, para conheceres melhor os diferentes tipos de bicicletário existentes.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/art_tag_spacious.svg"/>
                                <h3>Espaçoso</h3>
                            </div>

                            <div>
                                <div>
                                    <p>
                                        Um bom bicicletário deve ter dimensões adequadas, o que não implica ser enorme, com dezenas ou centenas de lugares vagos, mas ter o tamanho certo para a procura por parqueamento onde é instalado.
                                    </p>
                                    <p>
                                        Dependendo do tráfego, um bicicletário muito pequeno promove o uso incorreto do equipamento ou a procura por outros locais menos adequados para prender a bicicleta (vedações, postes, árvores, candeeiros).
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/art_tag_strong.svg"/>
                                <h3>Reforçado/ Robusto</h3>
                            </div>

                            <div>
                                <div>
                                    <p>
                                        Um bom bicicletário deve ser sólido e robusto, que não pareça ceder a uma tentativa de roubo mais insistente. Para saber isso, certifique-se que a sua estrutura é rígida e se está bem preso ao chão.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <h2>Localização do bicicletário</h2>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/art_tag_easyaccess.svg"/>
                                <h3>Fácil acesso</h3>
                            </div>

                            <div>
                                <div>
                                    <p>
                                        Um bom bicicletário deve ser visível a qualquer hora do dia (ou noite). Deve ser instalado em vias principais, onde as pessoas circulam (evitando ficar isolado), mas sem atrapalhar os peões. À noite, o local deve estar bem iluminado.
                                    </p>
                                    <p>
                                        Um bicicletário escondido não é boa ideia. Longe dos nossos olhos, um ladrão tem oportunidade e tempo para vencer o melhor cadeado (é uma questão de tempo).
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/art_tag_visible.svg"/>
                                <h3>Visível</h3>
                            </div>
                        
                            <div>
                                <div>
                                    <p>
                                         Um bom bicicletário deve ser visto em todos os horários do dia. Pra isso ele deve ficar próximo de onde as pessoas circulam,
                                        sem atrapalhar o fluxo mas sem se isolar. À noite é importante que o local seja bem iluminado.
                                    </p>
                                    <p>
                                         Um bicicletário escondido não é uma boa ideia. Longe dos nossos olhos, um ladrão tem muito mais tranquilidade e tempo para
                                        fazer o que for preciso para quebrar até a melhor trava.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/art_tag_bustling.svg"/>
                                <h3>Movimentado</h3>
                            </div>
                        
                            <div>
                                <div>
                                    <p>
                                        É ótimo quando há movimento considerável de pessoas próximo ao bicicletário. E quanto mais tempo, melhor. Observa, por exemplo, se há estabelecimentos comerciais em funcionamento ao longo do dia, junto ao local onde o bicicletário se encontra.
                                    </p>
                                    <p>
                                        Nem sempre é possível vigilância (vídeo ou humana), por isso ter os olhos de quem passa como nosso aliado é uma mais-valia.
                                    </p>
                                </div>
                            </div>
                        </section>
                        </section>

                        <section>
                            <div class="center">
                                <img class="guide-type-img" alt="" src="/img/art_tag_monitored.svg"/>
                                <h3>Vigilância</h3>
                            </div>
                        
                            <div>
                                <div>
                                    <p>
                                        A existência de um sistema de vigilância oferece um grau suplementar de segurança (em particular para bicicletários de longa duração, de grandes dimensões ou nocturnos). Pode tratar-se de vigilantes, video-vigilância ou funcionários do estabelecimento. É um sistema mais caro.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <div class='medium-separator'>...</div>

                        <h2>
                        Referências
                        </h2>

                        <p>
                            Este guia é baseado no nosso dia-a-dia como ciclistas e nos excelentes materiais de várias partes do mundo com recomendações de experts.
                        </p>

                        <ul class="guide-references-list">
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=tNmNp18RcpA">Como prender sua bike na rua com segurança (vídeo)
                                <span class="references-label">Bike é Legal</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.strongtowns.org/journal/2017/10/31/what-makes-for-great-bike-parking">What makes for great bike parking?
                                <span class="references-label">Strong Towns</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.bikeswelcome.org/bikes-mean-businesses/bike-parking-for-business/good-bike-parking-basics/">Good bike parking basics
                                <span class="references-label">Bikes Welcome</span>
                                </a>
                            </li>
                        </ul>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>