<!-- Guide -->
<div id="guideTagsModal" data-keyboard="false" class="modal clean-modal guide-modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Como identificar um bicicletário seguro</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <p>
                            Independente do bicicletário, lembre sempre usar uma <b>boa trava</b> e prender a bicicleta <b>pelo quadro, não apenas pela roda</b>. Se conseguir prender o <b>quadro com a roda junto</b>, melhor ainda! Também vale muito a pena investir em um bom cadeado, e os melhores normalmente são os do tipo "u-lock".
                        </p>

                        <section>
                            <h2>Espaçoso</h2>

                            <div>
                                {{!-- <div class="center">
                                    <img class="guide-type-img" alt="" src="/img/icon_guide_uinvertido.svg"/>
                                </div> --}}

                                <div>
                                    <p>
                                        Um bicicletario bem dimensionado não necessariamente é enorme, com dezenas ou centenas de vagas, mas tem o tamanho certo
                                        para a demanda dos ciclistas.
                                    </p>
                                    <p>
                                        Dependendo do fluxo, um bicicletario muito pequeno não necessariamente vai evitar os ciclistas de frequentar o local, mas
                                        os fará prender a bicicleta em outros locais bem menos indicados.
                                    </p>
                                </div>
                            </div>
                        </section>
                        </p>

                        <section>
                            <h2>Fácil Acesso</h2>

                            <div>
                                {{!-- <div class="center">
                                    <img class="guide-type-img" alt="" src="/img/icon_guide_uinvertido.svg"/>
                                </div> --}}

                                <div>
                                    <p>
                                        O bicicletário fica próximo aos acessos principais ou próximo aos locais utilizados pelos ciclistas nesta área da cidade.
                                        É interessante também que ele não tenha um acesso burocrático, que exija falar com meio mundo pra acessá-lo. Ser bem sinalizado
                                        também ajuda.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <h2>Visível</h2>

                            <div>
                                {{!-- <div class="center">
                                    <img class="guide-type-img" alt="" src="/img/icon_guide_uinvertido.svg"/>
                                </div> --}}

                                <div>
                                    <p>
                                        O bicicletário é facilmente visível em todos os horários. Pra ser visível ele deve ser bem localizado com relação a onde as pessoas circulam, sem atrapalhar o fluxo mas sem se isolar. À noite é importante que o local seja bem iluminado.
                                    </p>
                                    <p>
                                        Ao contrário do que às vezes pensamos, não é necessariamente uma boa ideia um bicicletário estar escondido. Longe dos nossos olhos, um ladrão tem muito mais tranquilidade e tempo para fazer o que for preciso para quebrar até o melhor dos u-locks.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <h2>Monitorado</h2>

                            <div>
                                {{!-- <div class="center">
                                    <img class="guide-type-img" alt="" src="/img/icon_guide_uinvertido.svg"/>
                                </div> --}}

                                <div>
                                    <p>
                                        Há algum tipo de monitoramento próximo ao bicicletário. Por exemplo, guaritas de segurança, câmeras, funcionários do estabelecimento ou o próprio público do local.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <h2>Movimentado</h2>
                        
                            <div>
                                {{!--
                                <div class="center">
                                    <img class="guide-type-img" alt="" src="/img/icon_guide_uinvertido.svg" />
                                </div> --}}
                        
                                <div>
                                    <p>
                                        Há movimento considerável de pessoas próximo ao bicicletário em vários horários do dia. Comércios e estabelecimentos abertos
                                        em horários diversos são um ótimo exemplo.
                                    </p>
                                    <p>
                                        Quando não há um monitoramento "oficial", ter os olhos de quem passa como nosso aliado é sempre reconfortante.
                                    </p>
                                </div>
                            </div>
                        </section>
                        </section>

                        <section>
                            <h2>Reforçado</h2>
                        
                            <div>
                                {{!--
                                <div class="center">
                                    <img class="guide-type-img" alt="" src="/img/icon_guide_uinvertido.svg" />
                                </div> --}}
                        
                                <div>
                                    <p>
                                        O bicicletário tem uma boa estrutura que não parece que vai ceder a uma tentativa de roubo mais forte. A estrutura deve ser rígida e bem presa ao o piso ou calçada.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <br><br><br><br>
                        <div class='medium-separator'>...</div>

                        <h2>
                        Referências
                        </h2>

                        <p>
                            Este guia é baseado no nosso dia-a-dia como ciclistas e nos excelentes materiais de várias partes do mundo com recomendações de experts.
                        </p>

                        <ul class="guide-references-list">
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=tNmNp18RcpA">Como prender sua bike na rua com segurança (vídeo)
                                <span class="references-label">Bike é Legal</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.strongtowns.org/journal/2017/10/31/what-makes-for-great-bike-parking">What makes for great bike parking?
                                <span class="references-label">Strong Towns</span>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" target="_blank" rel="noopener" href="https://www.bikeswelcome.org/bikes-mean-businesses/bike-parking-for-business/good-bike-parking-basics/">Good bike parking basics
                                <span class="references-label">Bikes Welcome</span>
                                </a>
                            </li>
                        </ul>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>