<aside id="hamburger-menu" class="js-side-nav side-nav">
    <nav class="js-side-nav-container side-nav__container">
    <button class="js-menu-hide side-nav__hide">
        <span class="glyphicon glyphicon-remove"></span>
    </button>

    <div class="side-nav__content">
        <ul>

        <li class="side-nav--animate-in openAboutBtn">
            <img alt="" src="/img/icon_info.svg"/>
            Sobre o Projeto
        </li>

        <li class="open-faq-btn side-nav--animate-in">
            <img alt="" src="/img/icon_faq.svg"/>
            Perguntas Frequentes
        </li>

        <li class="open-aboutdata-btn side-nav--animate-in">
            <img alt="" src="/img/icon_table.svg"/>
            Dados
        </li>
        
        <li class="side-nav--animate-in howToInstallBtn">
            <img alt="" src="/img/icon_app.svg"/>
            Instalar a App
        </li>

        <hr> 

        <li class="open-guidetags-btn side-nav--animate-in">
            <img alt="" src="/img/icon_book.svg"/>
            Como identificar um bicicletário seguro
        </li>

        <li class="open-guide-btn side-nav--animate-in">
            <img alt="" src="/img/icon_book.svg"/>
            Tipos de Bicicletário
        </li>

        <hr>
        
        <li class="side-nav--animate-in loginBtn">
            <img src="/img/icon_user.svg" alt=""/>
            Login
        </li>

        <!-- <li class="side-nav--animate-in logoutBtn">
            <span class="glyphicon glyphicon-log-out"></span>
            Logout 
        </li> -->

        <li class="contact-btn side-nav--animate-in">
            <img src="/img/icon_mail.svg" class="icon-mail" alt=""/>
            Contacto/feedback
        </li>

        <!-- <li>
            <span class="glyphicon glyphicon-pencil"></span>
            Questionário bicicletários
            <a target="_blank" rel="noopener" href="http://www.iagentemail.com.br/v3/TRC/S/1033/9840622/">Questionário bicicletários</a>
        </li> -->
        </ul>
    </div>

    {{!-- <footer class="side-nav__footer side-nav--animate-in">  
        <!-- <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.bikedeboa.com.br%2F&width=280&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=1814653185457307" width="280" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> -->

        <!-- <img class="illustration" alt="" src="/img/art1.svg"/> -->

        <div class="footer-label">
        Segue a gente:
        </div>

        <div class="social-links-list">
        <a class="facebook-social-link social-link unstyled-link" target="_blank" rel="noopener" href="https://www.facebook.com/bikedeboaapp">
            <img alt="" src="/img/icon_social_facebook.svg"/>
        </a>
        <a class="instagram-social-link social-link unstyled-link" target="_blank" rel="noopener" href="https://www.instagram.com/bikedeboa/">
            <img alt="" src="/img/icon_social_instagram.svg"/>
        </a>
        <a class="medium-social-link social-link unstyled-link" target="_blank" rel="noopener" href="https://medium.com/bike-de-boa/">
            <img alt="" src="/img/icon_social_medium.svg"/>
        </a>
        <a class="github-social-link social-link unstyled-link" target="_blank" rel="noopener" href="https://github.com/bikedeboa">
            <img alt="" src="/img/icon_social_github.svg"/>
        </a>
        </div>
    </footer> --}}
    </nav>
</aside>