<div id="howToInstallModal" data-keyboard="false" class="modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Como instalar a aplicação</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <p>
                            O Cidade Ciclável é uma aplicação web, melhor do que uma app normal: não precisas de instalá-la, basta aceder pelo navegador.
                        </p>
                        
                        <p>
                            Podes adicionar um atalho na tela inicial do teu telemóvel, escolhendo o teu navegador abaixo para veres como se faz:
                        </p>

                        <div id="browsers-accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading">
                            <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#browsers-accordion" href="#collapse-chrome">
                                <h4 class="panel-title">
                                <img alt="" class="browser-icon" src="/img/icon_browser_chrome.png"/>
                                <span><b>Chrome</b> no Android</span>
                                </h4>
                            </a>
                            </div>
                            <div id="collapse-chrome" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ol>
                                <li>Pressiona o botão de menu <span class="glyphicon glyphicon-option-vertical"></span> no canto superior direito do navegador.</li>
                                <li>Selecciona “Adicionar à tela inicial”.</li>
                                </ol>

                                <img alt="" src="/img/chrome.gif" class="tutorial-gif"/>
                            </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-heading">
                            <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#browsers-accordion" href="#collapse-firefox">
                                <h4 class="panel-title">
                                <img alt="" class="browser-icon" src="/img/icon_browser_firefox.png"/>
                                <span><b>Firefox</b> no Android</span>
                                </h4>
                            </a>
                            </div>
                            <div id="collapse-firefox" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ol>
                                <li>Mantém pressionado o endereço na Barra de Endereço por alguns segundos.</li>
                                <li>Selecciona “Adicionar à tela inicial”.</li>
                                </ol>

                                <img alt="" src="/img/firefox.gif" class="tutorial-gif"/>
                            </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-heading">
                            <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#browsers-accordion" href="#collapse-safari">
                                <h4 class="panel-title">
                                <img alt="" class="browser-icon" src="/img/icon_browser_safari.png"/>
                                <span><b>Safari</b> no iPhone</span>
                                </h4>
                            </a>
                            </div>
                            <div id="collapse-safari" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ol>
                                <li>Na barra de ícones, na parte inferior do ecrã, selecciona o ícone no centro “partilhar” (o quadrado com uma seta).</li>
                                <li>Selecciona “Tela de início”. </li>
                                </ol>

                                <img alt="" src="/img/iphone.gif" class="tutorial-gif"/>
                            </div>
                            </div>
                        </div>

                        <!-- <p>
                            <small>Não conseguiu? <a href="mailto:bikedeboa@gmail.com"><img src="/img/icon_mail.svg" class="icon-mail"/> Fale com a gente!</a></small>
                        </p> -->

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>