<div id="howToInstallModal" data-keyboard="false" class="modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title view-name">Como instalar o aplicativo</h1>
                </div>

                <div class="modal-body">
                    <article>
                        <p>
                            O “Bike de Boa” é um aplicativo web que é melhor do que uma app normal: não precisas de instalá-lo, bastando aceder pelo navegador.
                        </p>
                        
                        <p>
                            Podes adicionar um atalho na tela inicial do seu telemóvel,escolhendo o teu navegador abaixo para veres como se faz:
                        </p>

                        <div id="browsers-accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading">
                            <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#browsers-accordion" href="#collapse-chrome">
                                <h4 class="panel-title">
                                <img alt="" class="browser-icon" src="/img/icon_browser_chrome.png"/>
                                <span><b>Chrome</b> no Android</span>
                                </h4>
                            </a>
                            </div>
                            <div id="collapse-chrome" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ol>
                                <li>Pressione o botão de menu <span class="glyphicon glyphicon-option-vertical"></span> no canto superior direito do navegador.</li>
                                <li>Selecione "Adicionar à tela inicial".</li>
                                </ol>

                                <img alt="" src="/img/chrome.gif" class="tutorial-gif"/>
                            </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-heading">
                            <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#browsers-accordion" href="#collapse-firefox">
                                <h4 class="panel-title">
                                <img alt="" class="browser-icon" src="/img/icon_browser_firefox.png"/>
                                <span><b>Firefox</b> no Android</span>
                                </h4>
                            </a>
                            </div>
                            <div id="collapse-firefox" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ol>
                                <li>Matenha pressionado o endereço na Barra de Endereço por alguns segundos</li>
                                <li>Selecione "Adicionar à tela inicial".</li>
                                </ol>

                                <img alt="" src="/img/firefox.gif" class="tutorial-gif"/>
                            </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-heading">
                            <a role="button" data-toggle="collapse" class="collapsed unstyled-link" data-parent="#browsers-accordion" href="#collapse-safari">
                                <h4 class="panel-title">
                                <img alt="" class="browser-icon" src="/img/icon_browser_safari.png"/>
                                <span><b>Safari</b> no iPhone</span>
                                </h4>
                            </a>
                            </div>
                            <div id="collapse-safari" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ol>
                                <li>Na barra de ícones na parte de baixo da tela, selecione o ícone do meio de compartilhar (o quadradinho com uma seta saindo dele).</li>
                                <li>Selecione "Tela de Início".</li>
                                </ol>

                                <img alt="" src="/img/iphone.gif" class="tutorial-gif"/>
                            </div>
                            </div>
                        </div>

                        <!-- <p>
                            <small>Não conseguiu? <a href="mailto:bikedeboa@gmail.com"><img src="/img/icon_mail.svg" class="icon-mail"/> Fale com a gente!</a></small>
                        </p> -->

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>