<!-- New Pin Modal -->
<div id="newPlaceModal" data-keyboard="false" class="modal fade" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="photo-container photoInputContainer">
                    <input id="photoInput" type="file" name="photoInput" accept="image/*">
                    <label for="photoInput"></label>

                    <span class="photoInputDisclaimer">
                        Você pode adicionar uma foto mais tarde se quiser ;)
                    </span>
 
                    <img alt="" id="photoInputBg" />
                </div>

                <div class="modal-body">
                    <section>
                        <h2>Dê um nome pro bicicletário</h2>
                        <div class="text-input-wrapper">
                            <input required id="titleInput" name="text" type="text" class="text-input" placeholder="Sem nome" data-hj-whitelist>
                        </div>
                    </section>

                    <section>
                        <h2>
                        Cobertura
                        <!-- <a id="access-general-help-tooltip" class="glyphicon glyphicon-question-sign help-tooltip-trigger" data-html="true" data-toggle="tooltip" data-placement="auto" role="button" tabindex="0"  data-title="<h2>Público</h2>
                        <p>Pode ser usado em qualquer horário por qualquer pessoa. Normalmente está no espaço público, como calçadas ou parques. Pode ter sido instalado por um estabelecimento comercial ou não.</p>
                        <h2>Privado</h2><p>O uso é restrito para clientes, funcionários ou moradores e este acesso é controlado.<p>"> --></a>
                        </h2>

                        <div class="covered-group" data-form-step="2">
                            <div data-value="covered" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/icon_covered.svg"/>
                                <div class="icon-label">
                                Coberto
                                </div>
                            </div>
                            <div data-value="uncovered" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/icon_uncovered.svg"/>
                                <div class="icon-label">
                                Não coberto
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h2>
                        Tipo de Bicicletário
                        <a id="type-general-help-tooltip" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto" role="button" tabindex="0"  data-title="<p>Estes são os principais tipos de bicicletário encontrados pela cidade. Cada um tem um nível de segurança e praticidade diferente. Se você não estiver acostumado com estes nomes o ícone pode te ajudar a entendê-los melhor.</p>
                        <p>Saiba mais no <a href='#' class='open-guide-btn external-link'>Guia de tipos de bicicletários</a></p>"></a>
                        </h2> 

                        <div class="custom-radio-group" data-form-step="1">
                            <div data-value="deroda" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/tipo_deroda.svg"/>
                                <div class="icon-label">De Roda</div>
                            </div>
                            <div data-value="uinvertido" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/tipo_uinvertido.svg"/>
                                <div class="icon-label">U Invertido</div>
                            </div>
                            <div data-value="suspenso" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/tipo_suspenso.svg"/>
                                <div class="icon-label">Suspenso</div>
                            </div>
                            <div data-value="grade" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/tipo_grade.svg"/>
                                <div class="icon-label">Grade</div>
                            </div>
                            <div data-value="trave" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/tipo_trave.svg"/>
                                <div class="icon-label">Trave</div>
                            </div>
                            <div data-value="other" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/tipo_other.svg"/>
                                <div class="icon-label">Outro</div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h2>
                        Acesso
                        <a id="access-general-help-tooltip" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto" role="button" tabindex="0"  data-title="<h2>Público</h2>
                        <p>Pode ser usado em qualquer horário por qualquer pessoa. Normalmente está no espaço público, como calçadas ou parques. Pode ter sido instalado por um estabelecimento comercial ou não.</p>
                        <h2>Privado</h2><p>O uso é restrito para clientes, funcionários ou moradores e este acesso é controlado.<p>"></a>
                        </h2>

                        <div class="acess-types-group" data-form-step="2">
                            <div data-value="public" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/icon_public.svg"/>
                                <div class="icon-label">
                                Público
                                </div>
                            </div>
                            <div data-value="private" class="typeIcon" tab-index="0">
                                <img alt="" src="/img/icon_private.svg"/>
                                <div class="icon-label">
                                Privado
                                </div>
                            </div>
                        </div>
                    </section> 

                    <section>
                        <div class="description collapsable">
                            <h2>
                                Mais Informações <span style="font-size: 10px;">(opcional)</span>
                            </h2>

                            <p>
                            Exemplo: horário de funcionamento, como acessar o local, serviços adicionais disponíveis, etc. (máx. 250 caracteres)
                            </p>

                            <textarea id="descriptionInput" maxlength="250" type="text" class="text-input" name="description" placeholder="Digite aqui" data-hj-whitelist></textarea>
                        </div>
                    </section>

                    <section class="minimap-container">
                        <h2>Localização</h2> 
                        <div>
                            <img alt="" class="minimap" src="" />
                            <button id="editPlacePositionBtn" class="btn link-button"></button>
                        </div>
                    </section>

                    <div class="stickyFooterBtn">
                        <button class="saveNewPlaceBtn btn border btn-footer btn-action green">SALVAR</button>
                        {{!-- <button id="cancelEditPlaceBtn" class="btn link-button">Cancelar edição</button> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>