<!-- Request or Place Modal. -->
<div id="newRequestOrPlaceModal" data-keyboard="false" class="modal" tabindex="-1">
	<div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
					<button id="addNewRack" title="Adicionar bicicletário">
						<img src="/img/pin_rack.svg"/>
						<h3>Bicicletário</h3>
						<p>
							Encontraste um bicicletário novo na tua cidade? Adiciona-o ao mapa e avalia-o. Mais utilizadores podem fazer uso da tua descoberta :)
						</p>
						
					</button>
					<button id="addNewRequest" title="Adiciona Pedido de Bicicletário">
						<img src="/img/pin_request.svg"/>
						<h3>Pedido de Bicicletário</h3>
						<p>
						Precisas de um estacionamento neste local? Regista-o aqui. Outros utilizadores podem também precisar e apoiar o teu pedido.
						</p>
						
					</button>
                </div>
            </div>
        </div>
    </div>

</div>