<!-- Request or Place Modal. -->
<div id="newRequestOrPlaceModal" data-keyboard="false" class="modal" tabindex="-1">
	<div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
					<button id="addNewRack" title="Adicionar bicicletário">
						<img src="/img/pin_rack.svg"/>
						<h3>Bicicletário</h3>
						<p>
							Encontrou um bicicletário novo? Adicione ele no mapa e o avalie! Mais gente pode fazer uso da sua descoberta :) 
						</p>
						
					</button>
					<button id="addNewRequest" title="Adiciona Pedido de Bicicletário">
						<img src="/img/pin_request.svg"/>
						<h3>Pedido de Bicicletário</h3>
						<p>Precisa de um estacionamento neste local? Cadastra ele aqui, pode ser que mais gente precisa e vai apoiar sua ideia! </p>
						
					</button>
                </div>
            </div>
        </div>
    </div>

</div>